/* Main Container */
/* ----- */
.ob_gMCont
{
    position: relative;
    overflow: hidden;
    /*background-color: #EEEEEE;*/
}

.ob_gMCont_DT
{
    overflow: hidden;
}

/* Left Side (Border) - used when grouping is enabled */
.ob_gBLSWG
{
    position: absolute;
    top: 34px;
    bottom: 6px;
    left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;    
    width: 1px;
    font-size: 1px;
    background-color: #C3C9CE;
    z-index: 31;
}

/* Left Side (Border) - used when grouping is disabled */
.ob_gBLS
{
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;    
    width: 1px;
    font-size: 1px;
    background-color: #C3C9CE;
    z-index: 31;
}

/* Right Side (Border) - used when grouping is enabled */
.ob_gBRSWG
{
    position: absolute;
    top: 34px;
    bottom: 6px;
    right: 0px;    
    margin-top: 0px;
    margin-bottom: 0px;    
    width: 1px;
    font-size: 1px;
    background-color: #C3C9CE;
    z-index: 31;
}


/* Right Side (Border) - used when grouping is disabled */
.ob_gBRS
{
    position: absolute;
    top: 6px;
    bottom: 6px;
    right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;    
    width: 1px;
    font-size: 1px;
    background-color: #C3C9CE;
    z-index: 31;
}





/* Common */
/* ------ */

.ob_gC
{
    white-space: nowrap;
    cursor: default;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}

.ob_gC_I
{
    display: none;
    white-space: nowrap;
    cursor: default;
    padding: 0px;
    margin: 0px;
}

.ob_gCW
{
    white-space: normal;
    cursor: default;
    vertical-align: middle;
}

.ob_gCW_I
{
    display: none;
    white-space: normal;
    cursor: default;
}

.ob_gC div div
{
    white-space: nowrap;
}

.ob_gCW div div
{
    white-space: normal;
}

.ob_gCd
{
    display: none;
}

.ob_gD
{
    display: none;
}

/* Resize lines */
.ob_gRL
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 1px;
    background-color: #B9C9D7;
    font-size: 1px;
    z-index: 999;
}

/* Resize tooltip */
.ob_gRT
{
	cursor: default;		
	margin: 0px;
	padding: 1px;
	border: 1px solid #000000;
	font-family: Verdana;
	font-size: 10px;
	color: #000000;	
	height: 12px;
	margin-top: -10px;		
	top: 0px;
	vertical-align: middle;
	background-color: #F5F5DC;
	position: absolute;
	z-index: 999;
}
.ob_gRT span
{
	padding-left: 3px;
}





/* Header */
/* ------ */

/* Container for the header - used when grouping is disabled */
.ob_gHContWG
{
    position: relative;
    overflow: hidden;
    width: 100%;
}

/* Container for the header - used when grouping is enabled */
.ob_gHCont
{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.ob_gHICont
{
    position: relative;
    overflow: hidden;
}

* html .ob_gHICont, .ob_gMCont_DT .ob_gHICont
{
    width: 100%;
}

.ob_gMCont_DT .ob_gHICont
{
    height: 15px;
}

.ob_gH
{
    border-collapse: collapse;
    table-layout: fixed;
}

.ob_gHR
{
}

.ob_gHContWG .ob_gH .ob_gC, .ob_gHContWG .ob_gH .ob_gCW
{
    background-image: url(header_without_grouping.gif);
    background-repeat: repeat-x;
    background-color: #A5C1D6;
    height: 15px;
    font-family:Calibri;
	font-size: 11px;
	font-weight: normal;
	color: #0C416F;
	text-align: left;
	cursor: pointer;
}

.ob_gHCont .ob_gH .ob_gC, .ob_gHCont .ob_gH .ob_gCW
{
    background-image: url(header.gif);
    background-repeat: repeat-x;
    background-color: #A5C1D6;
    height: 15px;
    font-family: Calibri;
	font-size: 11px;
	font-weight: normal;
	color: #0C416F;
	text-align: left;
	cursor: pointer;
}

.ob_gHContWG .ob_gH .ob_gC div.ob_gCc1, .ob_gHContWG .ob_gH .ob_gCW div.ob_gCc1
{
    padding-bottom: 6px;
}

.ob_gHContWG .ob_gH .ob_gC div.ob_gCc1_F, .ob_gHContWG .ob_gH .ob_gCW div.ob_gCc1_F
{
    _margin-top: 3px;
}

.ob_gHCont .ob_gH .ob_gC div.ob_gCc1, .ob_gHCont .ob_gH .ob_gCW div.ob_gCc1
{
}

.ob_gH .ob_gC div.ob_gCc1, .ob_gH .ob_gCW div.ob_gCc1
{
    position: relative;
}

.ob_gH .ob_gC div.ob_gCc1_F, .ob_gH .ob_gCW div.ob_gCc1_F
{
    _margin-top: 6px;
    overflow: hidden;
}

.ob_gH .ob_gC div.ob_gCc2, .ob_gH .ob_gCW div.ob_gCc2
{
    padding: 0px;
    padding-left: 10px;
    margin-right: 3px;
    position: static;
    width: auto;
    overflow: hidden;
}

.ob_gH .ob_gC div.ob_gCc2C, .ob_gH .ob_gCW div.ob_gCc2C
{
    padding: 0px;
    padding-left: 10px;
    margin-right: 3px;
    position: static;
    width: auto;
    overflow: hidden;
    text-align: center;
}

.ob_gH .ob_gC div.ob_gCc2R, .ob_gH .ob_gCW div.ob_gCc2R
{
    padding: 0px;
    padding-left: 10px;
    margin-right: 16px;
    position: static;
    width: auto;
    overflow: hidden;
    text-align: right;
}

.ob_gMCont_DT .ob_gH div.ob_gCc1
{
    margin-top: -6px;
}

.ob_gHContWG .ob_gH .ob_gC div.ob_gHSI, .ob_gHContWG .ob_gH .ob_gCW div.ob_gHSI
{
    bottom: 5px;
    margin-top: -10px;
}

.ob_gHCont .ob_gH .ob_gC div.ob_gHSI, .ob_gHCont .ob_gH .ob_gCW div.ob_gHSI
{
    
}

.ob_gH .ob_gC div.ob_gHSI, .ob_gH .ob_gCW div.ob_gHSI
{
    position: absolute;
    height: 16px;
    right: 2px;
    top: 50%;    
    margin: 0px;
    margin-bottom: auto;
    margin-top: -8px;
    _margin-top: -13px !important;
}

.ob_gH .ob_gC div.ob_gHSI_F, .ob_gH .ob_gCW div.ob_gHSI_F
{
    position: absolute;
    height: 16px;
    right: 2px;
    top: 50%;    
    margin: 0px;
    margin-bottom: auto;
    margin-top: -8px;
    _margin-top: -13px;
}

/* Cells separator */
.ob_gHCont .ob_gCS, .ob_gHContWG .ob_gCS, .ob_gHCont .ob_gCS_F, .ob_gHContWG .ob_gCS_F
{
    position: absolute;
    top: 0px;    
    font-size: 1px;
    cursor: e-resize;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: -1px;
    background-color: Transparent !important;
}

.ob_gHCont .ob_gCS, .ob_gHContWG .ob_gCS
{
    bottom: 0px;
}

.ob_gHCont .ob_gCS div, .ob_gHCont .ob_gCS_F div
{
    background-color: #C3C9CE;
}

.ob_gHContWG .ob_gCS div, .ob_gHContWG .ob_gCS_F div
{
    background-color: #C3C9CE;
}

.ob_gHCont .ob_gCS div, .ob_gHContWG .ob_gCS div, .ob_gHCont .ob_gCS_F div, .ob_gHContWG .ob_gCS_F div
{
    width: 1px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
}





/* Body */
/* ------ */
.ob_gBCont
{
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
}

.ob_gBICont
{
    position: relative;
    overflow: hidden;
}

* html .ob_gBICont, .ob_gMCont_DT .ob_gBICont
{
    width: 100%;
}

.ob_gBody
{
    border-collapse: collapse;
    table-layout: fixed;
}

/* Row - Normal state */
.ob_gR
{
	background-image: url(row1.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#f6f7f7;
	color: #4B555E;
}

/* Row - Alternate state */
.ob_gRA
{
	background-image: url(row2.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#ebecec;
	color: #4B555E;
}


/* Row - Selected state */
.ob_gRS
{
	background-image: url(row_selected.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#cfd3da;
	color: #1d2128;
}

/* Row - Hover state */
.ob_gRH
{
	background-image: url(row_hover.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#e2eaf3;
	color: #0c416f;
}

.ob_gBody .ob_gC, .ob_gBody .ob_gCW
{
    height: 16px;
    font-family: Calibri;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

.ob_gBody .ob_gC div.ob_gCc1, .ob_gBody .ob_gCW div.ob_gCc1
{    
    #overflow: visible;
    #overflow-x: hidden;
    /*position: relative;*/
    padding-top: 2px;
    padding-bottom: 2px;
}

.ob_gBody .ob_gC div.ob_gCc2, .ob_gBody .ob_gCW div.ob_gCc2
{
    padding: 0px;
    padding-left: 10px;
    margin-right: 3px;
    position: static;
    width: auto;
    overflow: hidden;
}

.ob_gBody .ob_gC div.ob_gCc2C, .ob_gBody .ob_gCW div.ob_gCc2C
{
    padding: 0px;
    padding-left: 10px;
    margin-right: 3px;
    position: static;
    width: auto;
    overflow: hidden;
    text-align: center;
}

.ob_gBody .ob_gC div.ob_gCc2R, .ob_gBody .ob_gCW div.ob_gCc2R
{
    padding: 0px;
    padding-left: 10px;
    margin-right: 3px;
    position: static;
    width: auto;
    overflow: hidden;
    text-align: right;
}

.ob_gBCont .ob_gCS, .ob_gBCont .ob_gCS_F
{
    position: absolute;
    top: 0px;    
    width: 1px;
    background-color: #C3C9CE;
    font-size: 1px;
    z-index: 10;
}

.ob_gBCont .ob_gCS
{
    bottom: 0px;
}

/* Container for the loading message displayed during a callback */
div.ob_gBLM, div.ob_gBLM_F
{
    position: absolute;
	background-color: #F6F7F7;
	left: 0px;
	right: 0px;
	top: 0px;
	text-align: center;
	z-index: 30;
	width: 100%;

}
div.ob_gBLM
{
    bottom: 0px;
}
div.ob_gBLM div, div.ob_gBLM_F div
{    
    position: absolute;
    font-family: Verdana;
	font-size: 10px;
	color:#0C416F;
	height: 10px;
	top: 50%;	
	margin-top: -5px;	
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
}

/* Action links */
a.ob_gAL
{
	font-family: Verdana;
	font-size: 10px;
	color: #0C416F;
	font-weight: normal;
	text-decoration:none;
}

/* Action links - hover state */
a.ob_gAL:hover
{
	font-family: Verdana;
	font-size: 10px;
	color: #0C416F;
	font-weight: normal;				
	text-decoration:underline;		
}

/* Cell - temporary added (multi-record adding) */
.ob_gCTA
{
    color: #2a8b03;
}

/* Cell - temporary edited (multi-record editing) */
.ob_gCTE
{
    color: #b81336;
}

/* Cell - temporary deleted (multi-record deleting) */
.ob_gCTD
{
    color: #777d81;			
	text-decoration: line-through;
}

/* Group header - container */
.ob_gRGH
{
	background-image: url(record_group_header.gif);
	height: 25px;
}

/* Group header - inner container */
.ob_gRGHI
{
    position: relative;
    height: 25px;
    z-index: 15;
    background-image: url(record_group_header.gif);
}

/* Group header - content*/
.ob_gRGHC
{
	cursor: default;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: Verdana;
	font-size: 10px;
	color: #d9e6f1;	
	height: 25px;	
	vertical-align: middle;
	font-weight: normal;
	cursor: pointer;
	border: 0px;
	float: left;
	line-height: 25px;
}

/* Group header - Expand/Collapse button */
.ob_gRGHB 
{	
	padding: 0px;
	padding-left: 0px;
	padding-right: 3px;	
	text-align: center;
	white-space: nowrap;
	vertical-align: top;
	height: 25px;
	font-size: 1px;
	float: left;
}	
.ob_gRGHB img
{
	height: 25px;
	cursor: pointer;
	margin: 0px;
	font-size: 1px;
}

/* Group header - Left side spacer */
.ob_gRGBS
{
	width: 17px;
	height: 25px;
	font-size: 1px;
	text-align: right;
	background-image: url(record_group_header_padding.gif);
	float: left;
}
.ob_gRGBS div
{
	background-image: url(record_group_header_padding_right.gif);
	height: 25px;
	width: 5px;
	margin-left: 12px;
}

/* Group footer */
.ob_gRGF
{
	background-image: url(group_summary.gif);
	color: #0C416F;
	font-family: Verdana;
	font-size: 10px;
}

/* Message displayed when grid has no records */
.ob_gNRM
{
	font-family: Verdana;
	font-size: 10px;
	border: 0px;			
	background-image: url(row1.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#f6f7f7;
	color: #4B555E;
	height: 25px;
	border-bottom: 1px solid #C3C9CE;
}

.ob_gNRM .ob_gCc1
{
    position: relative;
    height: 25px;
    z-index: 15;
    background-image: url(row1.gif);
    line-height: 25px;
}

/* Selection area */
.ob_gSA
{
    position: absolute;
    z-index: 999;
    background-color: #F6F7F7;
	border: 1px solid #4B555E;
	font-size: 1px;
}

/* Edit control - backward compatibility */
.ob_gEC
{
	padding: 0px;
	font-family: Verdana;
	font-size: 10px;
	color: #202426;			
	background-color: #FFFFFF;
	width: 96%;
	border: 1px solid #196585;
}

/* Row Edit Template container */
.ob_gRETpl
{
	font-family: Verdana;
	font-size: 10px;
	color: #196585;
	padding: 15px;
	border-top: 1px solid #c3c9ce;
	border-bottom: 1px solid #c3c9ce;
	background-image:url(form_bgr.gif);
	background-repeat:repeat-x;
	background-position:top;
	background-color: #ebecec;
	position: relative;
	z-index: 11;
}

/* Row in THead section of the body table */
.ob_gBTLRV
{
    visibility: hidden;
    *display: none;
}
.ob_gBTLRV td
{
    height: 0px !important;
    font-size: 0px !important;
    padding: 0px;
	margin: 0px;
	border: 0px;
	visibility: hidden;
}





/* Footer */
/* ------ */
.ob_gFCont /*.ob_gridFooterContent*/
{		
	background-image: url(footer.gif);
	padding: 0px;
	margin-top: 0px;
	border: 0px;
	height: 24px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
	position: relative;
	cursor: default;
	font-family: Verdana;
	font-size: 10px;
	color: #4B555E;
	white-space: nowrap;
	z-index: 0;
}

.ob_gFCont_F_D
{		
	background-image: url(footer.gif);
	padding: 0px;
	margin-top: 0px;
	border: 0px;
	height: 24px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
	position: relative;
	cursor: default;
	font-family: Verdana;
	font-size: 10px;
	color: #4B555E;
	white-space: nowrap;
	z-index: 0;
}

.ob_gPSTT
{
	position: relative;
	top:11px;
	display:-moz-inline-stack;
    display:inline-block;
	height: 17px;
	z-index: 2;
}

.ob_gFCont .ob_gPSTT
{
    zoom:1;
    *display:inline;
}

.ob_gPSTD
{
	width: 60px;
	position: absolute;
	right: -67px;
	top: -2px;
}

.ob_gPSTDIC
{
    width: 60px !important;
}

.ob_gFEC
{
    position: absolute;
    top: 7px;
    right: 0px;
    height: 23px;
    white-space: nowrap;
    z-index: 1;
}

.ob_gFCont_F_D .ob_gFEC
{
    width: 100%;
}

/* Container for the action links */
.ob_gFALC
{
    height: 19px;
    line-height: 19px;
    float: right;
    #float: none;
}

.ob_gFCont_F_D .ob_gFALC
{
    float: none;
}

.ob_gFAL
{
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    float: right;
}

a.ob_gALF /*a.ob_gridActionLinkFooter*/
{
	font-family: Verdana;
	font-size: 10px;
	color: #0C416F;
	font-weight: normal;
	text-decoration:none;
}

a.ob_gALF:hover /*a.ob_gridActionLinkFooter:hover*/
{
	font-family: Verdana;
	font-size: 10px;
	color: #0C416F;
	font-weight: normal;				
	text-decoration: underline;		
}

.ob_gALFS /*.ob_gridAdd_FilterSpacer*/
{
	width: 30px;
	text-align: center;
	display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    float: right;
}

/* Container for the paging section */
.ob_gFP
{
    float: right;
    #float: none;
    margin-right: 6px;
}

.ob_gFCont_F_D .ob_gFP
{
    width: 305px;
}

/* Container for the text in the paging section */
.ob_gFPT
{
    float: right;
    padding-top: 1px;
}

/* Container for navigation/paging buttons */
.ob_gPBC
{
    float: right;
    cursor: pointer;
}

/* Container for the page links */
.ob_gPLC
{        
    float: right;
    padding-top: 1px;
    height: 18px;
}

/* Page link */
.ob_gPLCL
{
    font:normal 11px Verdana;
    color:#44556d;
    text-decoration: none;
    cursor: pointer;
    padding:1px 1px 1px 1px;
    border: 1px solid #9cafbd;
    margin-left: 2px;
    margin-right: 2px;
    background-image:url(page_number_normal.gif);
    float: left;
}

/* Page link - hover */
.ob_gPLCLH
{
    font:normal 11px Verdana;
    color:#0c416f;
    text-decoration: none;
    cursor: pointer;
    padding:1px 1px 1px 1px;
    border: 1px solid #829fb7;
    margin-left: 2px;
    margin-right: 2px;
    background-image:url(page_number_over.gif);
    float: left;
}

/* Separator between page links */
.ob_gPLS
{
    font-family: Verdana;
    font-size: 11px;
    color:#44556D;
    font-weight: normal;
    text-decoration:none;
    cursor: default;
    padding-left: 2px;
    padding-right: 2px;
    float: left;
    display: none;
}

/* Page link disabled */
.ob_gPLD
{
    font-family: Verdana;
    font-size: 11px;
    color:#44556D;
    font-weight: normal;		
    cursor: default;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 1px;
    float: left;
}

/* Container for the total number of pages text */
.ob_gTNOP
{
    float: right;
    padding-top: 1px;
    height: 20px;
    margin-left: 3px;
    margin-right: 0px;
}

/* Container for the manual paging section */
.ob_gMPS
{
    float: right;
    padding-top: 1px;
    height: 20px;
    margin-left: 3px;
    margin-right: 0px;
}

/* Container for the manual paging textbox */
.ob_gMPST
{
    float: left;
    margin-left: 4px;
}

/* Container for the manual paging action link */
.ob_gMPSL
{
    float: left;
    margin-top: 1px;
    margin-left: 4px;
}



/* Grouping Area */
/* ------------- */

/* Grouping Area - Container */
.ob_gGACont
{
	height: 20px;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}

/* Grouping Area - Left corner */
.ob_gGACnL
{
	width: 20px;
	height: 20px;
	background-image: url(grouping_area_left.gif);
	position: absolute;
	left: 0px;
	top: 0px;
}

/* main section for grouping area */
.ob_gGA
{
	border:0px solid #FFFFFF;
	background-image: url(grouping_area.gif);
	height: 20px;
	position: absolute;
	top: 0px;
	line-height: 34px;	
	left: 20px;
	right: 20px;
	margin: 0px;
	padding: 0px;
}

* html .ob_gGA
{
    #width: 100%;
}

/* Grouping Area - Default text */
.ob_gGADC
{
    font-family: Verdana;
	font-size: 11px;
	font-weight: normal;		
	color: #FFFFFF;
	text-align: left;				
	border:0px solid #FFFFFF;
	height: 34px;
}

/* Grouping Area - Right corner */
.ob_gGACnR
{
	width: 20px;
	height: 34px;
	background-image: url(grouping_area_right.gif);
	position: absolute;
	right: 0px;
	top: 0px;
}

/* Grouping - Dragging column */
.ob_gGDC
{
    position: absolute;
    z-index: 999;
    
    font-family: Verdana;
	font-size: 11px;
	font-weight: normal;		
	color: #0C416F;
	text-align: left;				
	border: 1px solid #829fb7;
	background-image: url(header_pressed.gif);
	vertical-align: middle;
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
}

/* Grouping - Groupped dragging column */
.ob_gGDC2
{
    position: absolute;
    z-index: 999;
    line-height: 21px;
}

/* Grouping - Header column highlighted */
.ob_gHCHWG
{
	background-image: url(header_pressed.gif) !important;
}

/* Grouping - Top arrow */
.ob_gGATA
{
	background-image: url(group_arrow_top.gif);
	width: 9px;
	height: 9px;
	font-size: 1px;
	padding: 0px;
	z-index: 999 !important;
}

/* Grouping - Bottom arrow */
.ob_gGABA
{
	background-image: url(group_arrow_bottom.gif);
	width: 9px;
	height: 9px;
	font-size: 1px;
	padding: 0px;
	z-index: 999 !important;
}

/* Column in grouping area - container */
.ob_gGAC
{	
	cursor: move;
	float: left;
    position: relative;
}

/* Column in grouping area - left side */
.ob_gGACL
{
	width: 12px;
	background-image: url(grouping_area_column_left_dragging.gif);
	position: absolute;
	left: 0px;
	top: 0px;
}
.ob_gGA .ob_gGACL
{		
	background-image: url(grouping_area_column_left.gif);
}

/* Column in grouping area - center */
.ob_gGACM
{
	height: 21px;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;		
	color: #FFFFFF;
	background-image: none;
	overflow: visible;
	white-space: nowrap;
	text-align: center;	
	background-image: url(grouping_area_column_dragging.gif);
	margin-left: 12px;
	margin-right: 12px;
	#zoom:1;
    #display:inline;
}
.ob_gGA .ob_gGACM
{
	height: 20px;
	background-image: url(grouping_area_column.gif);
}		

/* Column in grouping area - right side */
.ob_gGACR
{
	width: 12px;
	background-image: url(grouping_area_column_right_dragging.gif);
	position: absolute;
	right: 0px;
	top: 0px;
}
.ob_gGA .ob_gGACR
{
	background-image: url(grouping_area_column_right.gif);
}

/* Column in grouping area - spacer/link between columns*/	
.ob_gGACS
{
	height: 20px;
	width: 20px;
	background-image: url(grouping_area_column_spacer.gif);
	float: left;
}





/* Horizontal Scroller */
/* ------------------- */

.ob_gSH
{
    position: relative;
    overflow: hidden;
    height: 20px;
    height /*\**/: 16px\9;
    #height: 16px;
    padding: 0px;
    margin: 0px;
}

.ob_gSH div
{
    width: 100%;
    height: 40px;
    height /*\**/: 36px\9;
    #height: 36px;
	overflow: auto;
	overflow-y: hidden;
	position: absolute;
	top: -20px;
}

.ob_gSH div div
{
    height: 20px;
    visibility: hidden;
}





/* Filter */
/* ------ */

.ob_gFlCont
{
    position: relative;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #D0EDF5;
}

.ob_gFlICont
{
    position: relative;
    overflow: hidden;
}

* html .ob_gFlICont, .ob_gMCont_DT .ob_gFlICont
{
    width: 100%;
}

.ob_gFl
{
    border-collapse: collapse;
    table-layout: fixed;
}

.ob_gFl .ob_gC, .ob_gFl .ob_gCW
{
    background-image: url(filter.gif);
    height: 50px;
    font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-align: left;
}

.ob_gFl .ob_gC div.ob_gCc1, .ob_gFl .ob_gCW div.ob_gCc1
{    
    overflow: visible;
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
}

.ob_gFl .ob_gC div.ob_gCc2, .ob_gFl .ob_gCW div.ob_gCc2
{
    padding: 0px;
    padding-top: 2px;
    padding-left: 20px;
    margin-right: 3px;
    position: static;
    width: auto;
    overflow: hidden;
}

/* Cells separator */
.ob_gFlCont .ob_gCS, .ob_gFlCont .ob_gCS_F
{
    position: absolute;
    top: 0px;
    width: 1px;
    background-color: #C3C9CE;
    font-size: 1px;
}

.ob_gFlCont .ob_gCS
{
    bottom: 0px;
}





/* Columns Footer */
/* ------ */

.ob_gCFCont
{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.ob_gCFICont
{
    position: relative;
    overflow: hidden;
}

* html .ob_gCFICont, .ob_gMCont_DT .ob_gCFICont
{
    width: 100%;
}

.ob_gCFR
{
    border-collapse: collapse;
    table-layout: fixed;
}

.ob_gCFR .ob_gC, .ob_gCFR .ob_gCW
{
    background-image: url(summary.gif);
    height: 18px;
    font-family:Calibri;
	font-size: 11px;
	font-weight: normal;
	color: #0C416F;
	text-align: left;
}

.ob_gCFR .ob_gC div.ob_gCc1, .ob_gCFR .ob_gCW div.ob_gCc1
{    
    overflow: visible;
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
}

.ob_gCFR .ob_gC div.ob_gCc2, .ob_gCFR .ob_gCW div.ob_gCc2
{
    padding: 0px;
    padding-top: 2px;
    padding-left: 20px;
    margin-right: 3px;
    position: static;
    width: auto;
    overflow: hidden;
}

/* Cells separator */
.ob_gCFCont .ob_gCS, .ob_gCFCont .ob_gCS_F
{
    position: absolute;
    top: 0px;
    width: 1px;
    background-color: #91afca;
    font-size: 1px;
}

.ob_gCFCont .ob_gCS
{
    bottom: 0px;
}





/* Master/Detail */
/* ------------------- */

/* Row containing a detail grid */
.ob_gDGC
{
}

/* The container of a detail grid */
.ob_gDGCCT
{
    background-color: #F6F7F7;
    padding-left: 20px;
    z-index: 15;
    position: relative;
    width: 100%;
}

.ob_gDGCCIT
{
    width: 100%;
    position: relative;
}

/* Cell containing the +/- buttons for expanding/collapsing the detail grids */
.ob_gDGE
{
}
.ob_gDGE div.ob_gCc1
{
    position: relative !important;
}

/* Container for the +/- buttons for expanding/collapsing the detail grids */ 
.ob_gDGEB
{
    position: absolute;
    height: 24px;
    width: 19px;
    top: 50%;
    overflow: visible;
}

.ob_gDGEB img
{
    margin-top: -12px;
    position: absolute;
    cursor: pointer;
}

/* Loading message displayed while a detail grid is loading (OnCallback)*/
td.ob_gBLM
{
    background-color: #F6F7F7;
    text-align: center;
    font-family: Verdana;
	font-size: 10px;
	color:#0C416F;
	height: 20px;
}
td.ob_gBLM div
{
    position: relative;
    z-index: 15;
    height: 20px;
    line-height: 20px;
    background-color: #F6F7F7;
}





/* Corners displayed at the top of the grid */
/* ------ */

/* Container for the top corners */
.ob_gHCnC
{
	height: 7px;
	position: relative;
	background-image: url(header_corner_middle.gif);
	background-repeat: repeat-x;
	font-size: 1px;
	margin-left: 20px;
	margin-right: 20px;
}

/* Left corner */
.ob_gHCnL
{
	background-image: url(header_corner_left.gif);
	height: 7px;
	width: 20px;
	background-repeat: no-repeat;
	position: absolute;
	left: -20px;
}

/* Right corner */
.ob_gHCnR
{
	background-image: url(header_corner_right.gif);
	height: 7px;
	width: 20px;
	background-repeat: no-repeat;
	position: absolute;
	right: -20px;
}





/* Corners displayed at the bottom of the grid */
/* ------ */

/* Container for the bottom corners */
.ob_gFCnC
{
	height: 7px;
	position: relative;
	background-image: url(footer_corner_middle.gif);
	background-repeat: repeat-x;
	font-size: 1px;
	margin-left: 20px;
	margin-right: 20px;
}

/* Left corner */
.ob_gFCnL
{
	background-image: url(footer_corner_left.gif);
	height: 7px;
	width: 20px;
	background-repeat: no-repeat;
	position: absolute;
	left: -20px;
}

/* Right corner */
.ob_gFCnR
{
	background-image: url(footer_corner_right.gif);
	height: 7px;
	width: 20px;
	background-repeat: no-repeat;
	position: absolute;
	right: -20px;
}




/* Corners displayed at the bottom of the grid */
/* ------ */

/* Container for the bottom corners */
.ob_gFCnC
{
	height: 7px;
	position: relative;
	background-image: url(footer_corner_middle.gif);
	background-repeat: repeat-x;
	font-size: 1px;
	margin-left: 20px;
	margin-right: 20px;
}

/* Left corner */
.ob_gFCnL
{
	background-image: url(footer_corner_left.gif);
	height: 7px;
	width: 20px;
	background-repeat: no-repeat;
	position: absolute;
	left: -20px;
}

/* Right corner */
.ob_gFCnR
{
	background-image: url(footer_corner_right.gif);
	height: 7px;
	width: 20px;
	background-repeat: no-repeat;
	position: absolute;
	right: -20px;
}