﻿@model BrokerOffice.Models.Task

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Details</l>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.percentagedone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.percentagedone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fromUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fromUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fromUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fromUserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
