﻿@model BrokerOffice.Models.batch_mast
@using System;
@using System.Collections.Generic;
@using System.Data;
@using System.Linq;
@using System.Web.Mvc;
@using BrokerOffice.DAO;
@using BrokerOffice.Models;
@using RestSharp;
@using Newtonsoft.Json;
@using BrokerOffice.CDSMOdel;
@using PagedList.Mvc;
@using WebMatrix.WebData
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin2"))
    {
        Layout = "~/Views/Shared/_BrokerAdmin2Layout.cshtml";
    }
}




<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Batch Capture Form</l>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table table-striped">
            <tr>
                <td>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.batch_no, htmlAttributes: new { })
                            </div>
                            <br />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.batch_no, new { htmlAttributes = new { @class = "form-control", @onchange = "OnChangeEvent()", @id = "batch_no" } })
                                @Html.ValidationMessageFor(model => model.batch_no, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    <script type="text/javascript">
                        $('#batch_no').change(function () {
                            var shipList = document.getElementById('batch_no').value;
                            var s = document.getElementById('batch_no');

                            if (isNaN(shipList)) {
                                alert('Numbers only are allowed for batch number');
                                s.value = '';
                            }


                        });
                    </script>
                </td>
            
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.Agent, htmlAttributes: new { })
                            </div>
                            <br />
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Agent, (IEnumerable<SelectListItem>)ViewBag.AgentList, "Select IPO Agent", new { @class = "form-control", @style = "border:solid;border-width:thin" })
   @Html.ValidationMessageFor(model => model.Agent, "", new { @class = "text-danger" })
                            </div>
                        </div>
                </td>
            </tr>

              
            <tr>
               
             <td>
                 <div class="form-group">
                     <div class="col-md-10">
                         @Html.LabelFor(model => model.Company, htmlAttributes: new { })
                         </div>
                         <br />
                         <div class="col-md-10">
                             @Html.DropDownListFor(model => model.Company, (IEnumerable<SelectListItem>)ViewBag.Company, "Select IPO Company ", new { @id = "Company",@class = "form-control", @style = "border:solid;border-width:thin", @onchange = "OnChangeEvent()" })
    @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                             <script type="text/javascript">
                        $('#Company').change(function () {
                  
                            //     var s = document.getElementById('app_shares');
                            //var z = document.getElementById('app_cash');

                            //s.value = '';
                            //z.value = '';

                        });
                             </script>
                         </div>
                     </div>
             </td>
              <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.app_shares, htmlAttributes: new { })
                        </div>
                        <br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.app_shares, new { htmlAttributes = new { @class = "form-control", @onchange = "OnChangeEvent()", @id = "app_shares" } })
                            @Html.ValidationMessageFor(model => model.app_shares, "", new { @class = "text-danger" })
                        </div>
                    </div>

    </td>













             

            </tr>
            <tr>
                             <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.apps, htmlAttributes: new { })
                            </div>
                            <br />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.apps, new { htmlAttributes = new { @class = "form-control", @onchange = "OnChangeEvent()", @id = "apps" } })
                                @Html.ValidationMessageFor(model => model.apps, "", new { @class = "text-danger" })
                            </div>
                        </div>
                <script type="text/javascript">
                  $('#apps').change(function(){
                      var shipList = document.getElementById('apps').value;
                      var shipList2 = document.getElementById('app_shares').value;
                      var s = document.getElementById('apps');
                      var f = document.getElementById('app_shares');
                      var z = document.getElementById('app_cash');
                      if (isNaN(shipList2)) {
                          alert('Enter number of shares first');
                          s.value = '';
                      } else {
                          z.value = s.value * f.value;
                      }

                      });
                    </script>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.app_cash, htmlAttributes: new { })
                        </div>
                        <br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.app_cash, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.app_cash, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </td>
            </tr>
                
               
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                  

                    </div>
                </td>
                <td>
                    <div class="col-md-10" style="visibility:hidden">
                        @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                        
                    </div>
                </td>
            </tr>

                  



                  
                
            </table>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
