﻿@model BrokerOffice.Models.Accounts_Audit
@{
    ViewBag.Title = "CDS Account Upload";
    Layout = "~/Views/Shared/_ApproverLayout.cshtml";
}

<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">CDS Upload</l>
    </div>
    <hr />
    <h4>Are you sure you want to download this account to Broker Back Office?</h4>
    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CDS_Number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CDS_Number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BrokerCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BrokerCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccountType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Middlename)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Middlename)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Forenames)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Forenames)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Initials)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Initials)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IDNoPP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IDNoPP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IDtype)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IDtype)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nationality)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nationality)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOB)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Add_1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Add_1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Add_2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Add_2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Add_3)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Add_3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Add_4)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Add_4)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mobile)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mobile)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Custodian)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Custodian)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TradingStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TradingStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Industry)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Industry)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tax)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tax)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Div_Bank)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Div_Bank)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Div_Branch)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Div_Branch)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Div_AccountNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Div_AccountNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cash_Bank)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cash_Bank)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cash_Branch)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cash_Branch)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cash_AccountNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cash_AccountNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Client_Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Client_Image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Documents)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Documents)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BioMatrix)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BioMatrix)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Attached_Documents)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Attached_Documents)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date_Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date_Created)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Update_Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Update_Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created_By)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created_By)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AuthorizationState)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AuthorizationState)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comments)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VerificationCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VerificationCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DivPayee)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DivPayee)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SettlementPayee)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SettlementPayee)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.idnopp2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.idnopp2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.idtype2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.idtype2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.client_image2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.client_image2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.documents2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.documents2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.company_code)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.company_code)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mobile_money)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mobile_money)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mobile_number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mobile_number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.currency)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.currency)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Indegnous)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Indegnous)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Race)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Race)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Disadvantaged)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Disadvantaged)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NationalityBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NationalityBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Custody)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Custody)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trading)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trading)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Download" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    </div>