﻿@model PagedList.IPagedList<BrokerOffice.Models.Accounts_Audit>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ApproverLayout.cshtml";
}
<script type="text/javascript">
    function onSubmitClick() {
        $('#myForm input[name="DXScript"]').remove();
        $('#myForm input[name="DXCss"]').remove();

    }
</script>




@using (Html.BeginForm("Index", "Account_Creation", FormMethod.Get, new { Id = "myForm", style = "margin: 0px; " }))
{
    <div style="background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Search</l>
        </div>
        <table class="table-striped">
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-4">
                            Account/FullNames: @Html.TextBox("SearchString", ViewBag.CurrentFilter as
                                 string)

                        </div>

                    </div>
                </td>
                <td>
                    <div class="col-md-4">
                        <input type="submit" onclick="onSubmitClick();" class="btn btn-warning" value="Search" />
                    </div>
                </td>
                <td></td>
            </tr>

        </table>




    </div>




}
<div style="background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">CDS Account</l>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("ATP/CSD Number", "Index", new { sortOrder = ViewBag.CDSSortParm, currentFilter = ViewBag.CurrentFilter })


            </th>
            <th>
              BrokerCode
            </th>
            <th>
                AccountType
            </th>
            <th>
                @Html.ActionLink("Surname/Company", "Index", new { sortOrder = ViewBag.SurnameSortParm, currentFilter = ViewBag.CurrentFilter })


            </th>
            <th>
               Middlename
            </th>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })


            </th>
           
            <th>
              
                @Html.ActionLink("Identification", "Index", new { sortOrder = ViewBag.IdentificationSortParm, currentFilter = ViewBag.CurrentFilter })


            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CDS_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrokerCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Middlename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Forenames)
                </td>
       
                <td>
                    @Html.DisplayFor(modelItem => item.IDNoPP)
                </td>
                <td>
                   <a href="@Url.Action("Details", new { id =item.ID})">
                        <i class="glyphicon glyphicon-file">Details</i>

                    </a>
                    |
                    <a href="@Url.Action("Download", new { id = item.ID})">
                        <i class="glyphicon glyphicon-download">Download Account</i>

                    </a>
</tr>
        }

    </table>
</div>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))