﻿@model BrokerOffice.Models.BrokerClass

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Remove BrokerList ,@ViewBag.csd</l>
    </div>


    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>BrokerClass</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BrokerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BrokerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ATPCSD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ATPCSD)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    </div>