﻿@model IEnumerable<BrokerOffice.Models.BrokerClass>


@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin2"))
    {
        Layout = "~/Views/Shared/_BrokerAdmin2Layout.cshtml";
    }
    else if (User.IsInRole("General"))
    {
        Layout = "~/Views/Shared/_GeneralLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}


<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
</p>

<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Broker/Fund Manager,@ViewBag.csd</l>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrokerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ATPCSD)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BrokerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ATPCSD)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BrokerClassID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BrokerClassID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BrokerClassID })
                </td>
            </tr>
        }

    </table>
    </div>