﻿@model IEnumerable<BrokerOffice.Models.ApplicationCapture>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Applications</l>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BatchRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNames)
            </th>
         
       
            <th>
                @Html.DisplayNameFor(model => model.value)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchRef)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientNames)
                </td>
           
            
                <td>
                    @Html.DisplayFor(modelItem => item.value)
                </td>
                <td>
                    <a href='~/PrimaryMarket/ApplicationCapture.aspx?id=@Convert.ToInt32(item.ApplicationCaptureID)'>
                        <i class="glyphicon glyphicon-pencil"></i>

                    </a>
                    |
                    <a href="@Url.Action("Details", new { id =item.ApplicationCaptureID})">
                        <i class="glyphicon glyphicon-file"></i>

                    </a>
                    |
                    <a href="@Url.Action("Delete", new { id = item.ApplicationCaptureID })">
                        <i class="glyphicon glyphicon-trash"></i>

                    </a>
                </td>
               
            </tr>
        }

    </table>
    </div>