﻿@model BrokerOffice.Models.Registrar

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Registrar Details</l>
    </div>
    <div>
        <h4>Registrar</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ParticipantName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParticipantName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ParticipantCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParticipantCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ParticipantType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParticipantType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telephone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telephone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mobile)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mobile)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ParticipantEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParticipantEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactPerson)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactPerson)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaxUsers)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaxUsers)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.RegistrarID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>