﻿
@using PagedList.Mvc;
@using WebMatrix.WebData
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}




@{
    var message = ViewBag.Sucess;
}

<script type="text/javascript">
    var message = '@message';
    if (message) {
        alert(message);
        // similar behavior as an HTTP redirect

    }
</script>
<div style="background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Account Upload</l>
    </div>
    <table class="table-striped">
       @using (Html.BeginForm("UploadExcel", "Account_Creation", FormMethod.Post, new { enctype = "multipart/form-data" }))
       {

        <table class="table table-striped">
            <tr>

            </tr>
            <tr>
                <td>Upload Register:</td>
                <td >
                    <input type="file" name="UploadedFile" class="form-control" required />
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <input type="submit" name="Submit" value="Upload File" class="btn btn-primary"/>
                </td>
            </tr>
        </table>
       }  
    </table>




</div>

