﻿@model BrokerOffice.DealClass.DealerDG2

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}


<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Broker Note Details</l>
    </div>

    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Security)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Security)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Deal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Deal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Account1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Account1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Account2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Account2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DatePosted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatePosted)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SettlementDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SettlementDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ack)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ack)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccountName1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountName1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccountName2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountName2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Security)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Security)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Exchange)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Exchange)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Printed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Printed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OldDeal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OldDeal)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>