﻿@model BrokerOffice.DealClass.DealerDG2

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}


<div style="margin-left:5%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Update Brokers Note </l>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <table class="table table-striped">
            <div class="form-horizontal">
                
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Security, htmlAttributes: new { @class = "" })
                            <br />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Security, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Security, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Deal, htmlAttributes: new { @class = "" })
                            <br />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Deal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Deal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "" })
                            <br />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "" })
                            <br />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Account1, htmlAttributes: new { @class = "" })
                            <br />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Account1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Account1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Account2, htmlAttributes: new { @class = "" })
                            <br />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Account2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Account2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DatePosted, htmlAttributes: new { @class = "" })
                            <br />
                            <div class="col-md-10">
                                @Html.JQueryUI().DatepickerFor(model => model.DatePosted).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
                                @Html.ValidationMessageFor(model => model.DatePosted, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SettlementDate, htmlAttributes: new { @class = "" })
                            <br />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SettlementDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.SettlementDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </td>
                </tr>


                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountName1, htmlAttributes: new { @class = "" })
                            <br />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AccountName1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AccountName1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountName2, htmlAttributes: new { @class = "" })
                            <br />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AccountName2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AccountName2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SecurityName, htmlAttributes: new { @class = "" })

                            <br /><div class="col-md-10">
                                @Html.EditorFor(model => model.SecurityName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SecurityName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Exchange, htmlAttributes: new { @class = "" })
                            <br /><div class="col-md-10">
                                @Html.DropDownListFor(model => model.Exchange, (IEnumerable<SelectListItem>)ViewBag.Exchange, new { id = "Exchange", @class = "form-control", @style = "border:solid;border-width:thin" })
                                @Html.ValidationMessageFor(model => model.Exchange, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </td>
                </tr>
               <tr>
                   <td>
                       <div class="form-group">
                           <div class="col-md-offset-2 col-md-10">
                               <input type="submit" value="Save" class="btn btn-primary" />
                           </div>
                       </div>
                   </td>
                   <td>
                       <div class="form-group" style="visibility:hidden">
                           @Html.LabelFor(model => model.Ack, htmlAttributes: new { @class = "" })
                           <div class="col-md-10">
                               @Html.EditorFor(model => model.Ack, new { htmlAttributes = new { @class = "form-control" } })
                               @Html.ValidationMessageFor(model => model.Ack, "", new { @class = "text-danger" })
                           </div>
                       </div>
                   </td>
               </tr>
                <tr>
                    <td>
                        <div class="form-group" style="visibility:hidden">
                            @Html.LabelFor(model => model.OldDeal, htmlAttributes: new { @class = "" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.OldDeal)
                                    @Html.ValidationMessageFor(model => model.OldDeal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" style="visibility:hidden">
                            @Html.LabelFor(model => model.Printed, htmlAttributes: new { @class = "" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Printed)
                                    @Html.ValidationMessageFor(model => model.Printed, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
             
            <tr>
                <td>
                    <div class="form-group" style="visibility:hidden">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.EditorFor(model => model.PostDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.EditorFor(model => model.SettDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
               
           

              


            </div>
        </table>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    </div>