﻿@model BrokerOffice.Models.para_issuer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Details</l>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issued_shares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issued_shares)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.registrar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registrar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Add_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Add_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_Person)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_Person)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cellphone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cellphone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_listed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_listed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.website)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.para_issuerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
