﻿@model IEnumerable<BrokerOffice.Models.para_issuer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
</p>

<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Issuers</l>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_listed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issued_shares)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ISIN)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_listed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Issued_shares)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ISIN)
                </td>

                <td>
                    <a href="@Url.Action("Edit", new { id = item.para_issuerID })">
                        <i class="glyphicon glyphicon-pencil"></i>

                    </a>
                    |
                    <a href="@Url.Action("Details", new { id =item.para_issuerID})">
                        <i class="glyphicon glyphicon-file"></i>

                    </a>
                    |
                    <a href="@Url.Action("Delete", new { id = item.para_issuerID })">
                        <i class="glyphicon glyphicon-trash"></i>

                    </a>
                    |<a style="color:black" href="~/CompanySecurities/SecList/@item.para_issuerID">
                       <i class="glyphicon glyphicon-lock">AddSecurity</i>

                           </a>
                   
                </td>
            </tr>
        }

    </table>
    </div>