﻿@model PagedList.IPagedList<BrokerOffice.Models.Account_Creation>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

 @if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin2"))
    {
        Layout = "~/Views/Shared/_BrokerAdmin2Layout.cshtml";
    }
    else if (User.IsInRole("General"))
    {
        Layout = "~/Views/Shared/_GeneralLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }

<script type="text/javascript">
    function onSubmitClick() {
        $('#myForm input[name="DXScript"]').remove();
        $('#myForm input[name="DXCss"]').remove();
        
    }
</script>




    @using (Html.BeginForm("Index", "Account_Creation", FormMethod.Get, new { Id = "myForm", style = "margin: 0px; " }))
    {
        <div style="background:white" class="form-horizontal">
            <div class="panel-heading" style="background-color:#428bca">
                <l style="color:white">Search</l>
            </div>
            <table class="table-striped">
                <tr>
                    <td>
                      
                            <div class="col-md-4">
                                Start Date : @Html.JQueryUI().Datepicker("Date1String").ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)  @ViewBag.dt1


                            </div>

                      
                    </td>
                    <td>
                        <div class="col-md-4">
                            End Date : @Html.JQueryUI().Datepicker("Date2String").ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)  @ViewBag.dt2
    </div>
                    </td>
                    <td><div class="col-md-4">

    <input type="submit" class="btn btn-warning" value="Search" onclick="onSubmitClick();"  />
</div></td>
                </tr>

            </table>
        
            <table class="table-striped">
                <tr>
                    <td>
                       
                            <div class="col-md-4">
                                Account/FullNames: @Html.TextBox("SearchString", ViewBag.CurrentFilter as
                                 string)

                            </div>
                           
                        
                    </td>
                    <td>
                        <div class="col-md-4">
                            <input type="submit" onclick="onSubmitClick();" class="btn btn-warning" value="Search" />
                        </div>
                    </td>
                    <td>
                        
                    </td>
                </tr>
               
            </table>
           
        
     
              
            </div>


       

    }
<div style="background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Scrip Register</l>
    </div>
    <table class="table">
        <tr>
            <td>
                SYSID
            </td>
            <th>

                @Html.ActionLink("Identification", "Index", new { sortOrder = ViewBag.IdentificationSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>


            
            <th>
                @Html.ActionLink("Surname/Company", "Index", new { sortOrder = ViewBag.SurnameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>

            <th>
                @Html.ActionLink("ATP/CSD Number", "Index", new { sortOrder = ViewBag.CDSCSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Date Created
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Identification)
                </td>


               
                <td>
                    @Html.DisplayFor(modelItem => item.Surname_CompanyName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CDSC_Number)
                </td>
                <td>
                    @{
                        DateTime jdate = Convert.ToDateTime(item.Date_Created);
                        string dr = jdate.ToString("dd/MM/yyyy");
                    }
                    @dr
                </td>

                <td>

                    <a href="@Url.Action("Script", new { id = item.CDSC_Number })">
                        <i class="glyphicon glyphicon-blackboard">Add Certificate</i>

                    </a>
                    
                    
                </td>
            </tr>
                        }

    </table>
</div>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

