﻿@model BrokerOffice.Models.TradingBoard

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Add Trading Board Form</l>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table  table-striped">

            <tr>

                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.BoardCode, htmlAttributes: new { @class = "control-label col-md-4" })
                        <br /><br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BoardCode, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                            @Html.ValidationMessageFor(model => model.BoardCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.BoardName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <br /><br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BoardName, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                            @Html.ValidationMessageFor(model => model.BoardName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.BoardDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                        <br /><br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BoardDescription, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                            @Html.ValidationMessageFor(model => model.BoardDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>

              
            </tr>


        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
