﻿
@model TrackerEnabledDbContext.Common.Models.AuditLog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Audit Log Details</l>
    </div>
    <hr />
    <h4>User:@User.Identity.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuditLogId)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.AuditLogId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDateUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDateUTC)
        </dd>

        <dt>
            Local Time
        </dt>

        <dd>

            @DateTime.Parse(Html.DisplayFor(model => model.EventDateUTC).ToString()).ToLocalTime().ToString()

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordId)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning" })
</p>
