﻿<%@ Page Language="C#" MaintainScrollPositionOnPostback="true"  AutoEventWireup="true" CodeBehind="Quotation.aspx.cs" Inherits="BrokerOffice.Reporting.Quotation" %>

<%@ Register Assembly="DevExpress.XtraReports.v18.2.Web.WebForms, Version=18.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.XtraReports.Web" TagPrefix="dx" %>



    <form id="form1" runat="server">
      
        <dx:ASPxDocumentViewer ID="ASPxDocumentViewer1" runat="server" Theme="Moderno" ReportTypeName="BrokerOffice.Reporting.XtraQuotation"></dx:ASPxDocumentViewer>
    
        </form>