﻿@model PagedList.IPagedList<BrokerOffice.Models.batch_mast>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<p>
    @Html.ActionLink("Capture Batch", "Create", "", new { @class = "btn btn-primary" })
</p>

<div style="margin-left:5%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Batch</l>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Batch Number", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })


            </th>
          
            <th>
              Shares
            </th>
            <th>
              Amount
            </th>
        
            <th>
         Company
            </th>
            <th>
      Agent
            </th>
            <th>
                BrokerBatchRef
            </th>
                     <th>
               CreatedBy
            </th>
            <th>
             Applications
            </th>
           
            <th>
        @Html.ActionLink("Date Created", "Index", new { sortOrder = ViewBag.ModuleSortParm, currentFilter = ViewBag.CurrentFilter })


            </th>
         
           
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.batch_no)
                </td>
                          <td>
                    @Html.DisplayFor(modelItem => item.app_shares)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.app_cash)
                </td>
           
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Agent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrokerBatchRef)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apps)
                </td>
             
                <td>
                    @Html.DisplayFor(modelItem => item.datecreated)
                </td>
          
            </tr>
            <tr>
                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.ID }) 
                </td>
                <td>
                    @if (item.OldBatchRef != "SUBMITTED")
                    {
                        if (item.OldBatchRef != "AUTHORISED")
                        {
                            @Html.ActionLink("Update Batch ", "Edit", new { id = item.ID })
                        }
                        else
                        {
                            <a href="#">
                                <i class="glyphicon glyphicon-file"><i style="font-weight:bold;font-style:normal">SUBMITTED</i></i>

                            </a>
                        }
                    }
                    else
                    {
                        <a href="#">
                            <i class="glyphicon glyphicon-file"><i style="font-weight:bold;font-style:normal">SUBMITTED</i></i>

                        </a>
                    }
                </td>
                <td>
                    @if (item.OldBatchRef != "SUBMITTED")
                    {
                        if (item.OldBatchRef != "AUTHORISED")
                        {
                            <a href="~/PrimaryMarket/Batch.aspx?id=@item.batch_no">
                                Add Application

                            </a>
                        }
                        else
                        {
                            <a href="#">
                                <i class="glyphicon glyphicon-file">Applications Complete</i>

                            </a>
                        }

                    }
                    else
                    {
                        <a href="#">
                            <i class="glyphicon glyphicon-file">Applications Complete</i>

                        </a>
                    }
                </td>
                <td>
                    @Html.ActionLink("Investor Applications", "Apps", new { id = item.batch_no }) 
                    </td>
                <td>
                    @if (item.OldBatchRef != "SUBMITTED")
                    {
                        if (item.OldBatchRef != "AUTHORISED")
                        {
                        @Html.ActionLink("Submit Batch ", "SubmitBatch", new { id = item.ID })
                        }
                        else
                        {
                            <a href="#">
                                <i class="glyphicon glyphicon-file"><i style="font-weight:bold;font-style:normal">SUBMITTED</i></i>

                            </a>
                        }
                    }
                    else
                    {
                        <a href="#">
                            <i class="glyphicon glyphicon-file"><i style="font-weight:bold;font-style:normal">SUBMITTED</i></i>

                        </a>
                    }
                </td>
            </tr>
        }

    </table>
    </div>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
    @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
