﻿@model BrokerOffice.Models.batch_mast

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Batch Capture Details</l>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.batch_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.batch_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.batch_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.batch_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.app_shares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app_shares)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.app_cash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app_cash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrokerBatchRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrokerBatchRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datecreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datecreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldBatchRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldBatchRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebResponse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebResponse)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit"  value="SubmitBatch" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

