﻿@model PagedList.IPagedList<BrokerOffice.Models.UplodedTrans>
@using PagedList.Mvc;
@using WebMatrix.WebData
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin2"))
    {
        Layout = "~/Views/Shared/_BrokerAdmin2Layout.cshtml";
    }
}
<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Bank Reconciliation,@ViewBag.AccN</l>
    </div>
    @using (Html.BeginForm("Upload", "BankReconciliation", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table>
          
            <tr>
                <td>Select a Date:</td>
                <td>
                    @Html.JQueryUI().Datepicker("DD").ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
                    
                </td>
            </tr>
            <tr>
                <td>File:</td>
                <td>
                    <input class="btn btn-primary" type="file" name="FileUpload" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="btn btn-primary" name="Submit" value="Upload Bank Transactions" />
                </td>
            </tr>
        </table>
    }
    <br /> 
    Select transaction dates from below to view Bank Reconciliation Report
    <br/>
    @using (Html.BeginForm("Report", "BankReconciliation", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table>

            <tr>
                <td>From Date:</td>
                <td>
                    @Html.JQueryUI().Datepicker("DD2").ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)

                </td>
                <td>To Date:</td>
                <td>
                    @Html.JQueryUI().Datepicker("DD3").ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="btn btn-primary" name="Submit" value="View Bank Reconciliation Report" />
                </td>
            </tr>
        </table>
    }
  
</div>
