﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="marketwatcher.aspx.cs" Inherits="BrokerOffice.MarketWatch.marketwatcher" %>

<%@ Register Assembly="DevExpress.Web.v18.2, Version=18.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>

<%--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">--%>
<!DOCTYPE html>
<head runat="server">
    <title>Market Watch</title>
    <link href="../ATS/styles/masterStyle.css" rel="stylesheet" type="text/css" />
    <link href="../ATS/styles/layout.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.8.18/themes/start/jquery-ui.css" />
 <script src="../ATS/Scripts/jquery-1.8.2.js" type="text/javascript"></script>  
<script src="../ATS/Scripts/jquery-ui.js" type="text/javascript"></script>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
<style type="text/css">
    body
    {
        font-size: 10pt;
       background: #2a323c;
  font-family: 'PT Sans Caption', sans-serif;
 
    }
    td
    {
        cursor: pointer;
    }
    .hover_row
    {
        background-color: #330B0C;
    }
    .auto-style1 {
        height: 32px;
    }
    </style>

<%--    <script type="text/javascript" language="Javascript">
        $(document).ready(function () {
            $("input:submit").button();
        });
        function select_deselectAll(frmElement, chkVal, idVal) {
            var frm = document.forms[0];
            var ItemSelected = false;
            if (idVal.indexOf('chkSelectall') != -1) {
                for (i = 0; i < frm.length; i++) {
                    if (chkVal == true) {
                        frm.elements[i].checked = true;
                        {
                            frm.elements[i].enabled = true;
                        }
                    }
                    else {
                        frm.elements[i].checked = false;
                    }
                }
            }
            else if (idVal.indexOf('chkItem') != -1) {
                if (chkVal == true) {
                    for (i = 0; i < frm.length; i++) {
                        if (frm.elements[i].name.indexOf('chkItem') != -1) {
                            if (frm.elements[i].checked == true) {
                                ItemSelected = true;
                            }
                            else {
                                ItemSelected = false;
                                break;
                            }
                        }
                    }
                }
                else {
                    ItemSelected = false;
                }
                for (l = 0; l < frm.length; l++) {
                    if (frm.elements[l].name.indexOf('chkSelectall') != -1) {
                        if (ItemSelected == true) {
                            frm.elements[l].checked = true;
                        }
                        else {
                            frm.elements[l].checked = false;
                        }
                    }
                }
            }
        }  

		   
		   
    </script>
    --%>
<script type="text/javascript">
    $(function () {
        $("[id*=GridView1] td").hover(function () {
            $("td", $(this).closest("tr")).addClass("hover_row");
        }, function () {
            $("td", $(this).closest("tr")).removeClass("hover_row");
        });
    });
</script>
<script type="text/javascript">
function load()
{
setTimeout("window.open(self.location, '_self');", 60000);
}
</script>
</head>
<body >
    <form id="form1" class="content" runat="server">
          <a href="../<%=nm%>/Index">
         <button type="button" style="background-color:#2a323c;border-color:#2a323c" class="btn btn-lg btn-info">
                                            <i class="glyphicon glyphicon-home"></i>
                                        </button>
                                    </a>
    <div>
        <table width="100%">
            <tr>
                <td class="Page_header" runat="server" visible="false">
                    <table width="100%" class="Form_panel Field_Box" cellpadding="2" cellspacing="2">
                        <tr>
                            <td>
                                Market Watch</td>
                            <td width="50px;" align="right" style="padding: 2px 10px 0px 0px;">
                                <a href="javascript:window.close();" style="text-decoration: none;">
                                    <img src="../ATS/styles/images/home.jpg" border="0" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding: 20px 5px 5px 5px" valign="top" align="center">
                    <table border="0" cellpadding="0"  cellspacing="0" style="width: 1182px; background-color:#2a323c;">
                        <tr>
                            <td align="center" bgcolor="Black" style="width: 650px;">
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#ccccff" style="width: 650px;">
                                <asp:Label ID="Label1" runat="server" Font-Bold="True" Visible="True" Font-Names="Calibri" Font-Size="Larger"
                                    ForeColor="Blue" Text="Market Watch"></asp:Label>
                            </td>
                        </tr>
                        <tr>
                             <td align="center" bgcolor="#ccccff" style="width: 650px;">
                                   <div class="btn-group-horizontal" data-toggle="buttons">
                               
                                  <asp:RadioButtonList ID="RadStl" runat="server" RepeatDirection="Horizontal" Font-Size="X-Small" AutoPostBack="True" OnSelectedIndexChanged="RadStl_SelectedIndexChanged">
                                            <asp:ListItem Value="FINSEC" Text="Financial Securities Exchange (Private) Limited (FINSEC)" ></asp:ListItem>
                                            <asp:ListItem Value="ZSE" Text="Zimbabwe Stock Exchange (ZSE)"></asp:ListItem>
                                  </asp:RadioButtonList>
                                       </div>
                                 
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="height: 370px; width: 650px; vertical-align: top;">
                                 <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="True">
                                    </asp:ScriptManager> 
                                  <asp:UpdatePanel ID="UpdatePanel1" runat="server" >
                                  
<ContentTemplate>



                             
    <asp:Timer ID="Timer2" runat="server" Interval="15000" OnTick="Timer2_Tick">
    </asp:Timer>



    <asp:Label ID="Label9" runat="server" Text="Label" Visible="False"></asp:Label>



  <asp:Panel ID="Panel3" runat="server"   ScrollBars="Auto">
                                    <br />
                                    <asp:GridView ID="GridView4" AutoGenerateSelectButton="true"   Width="100%" Font-Size="X-Small" runat="server" AutoGenerateColumns="False"  BackColor="#2a323c"  ForeColor="White" GridLines="None" DataKeyNames="Ticker" OnSelectedIndexChanged="GridView4_SelectedIndexChanged">
                                        <AlternatingRowStyle BackColor="#333333" />
                                        <Columns>
                                            <asp:BoundField DataField="Ticker" HeaderText="Company">
                                            <HeaderStyle Font-Size="X-Small"/>
                                            <ItemStyle ForeColor="#66FF66" Font-Size="X-Small" />
                                            </asp:BoundField>
                                            <asp:BoundField DataField="ISIN" HeaderText="ISIN">
                                            <HeaderStyle Font-Size="X-Small"/>
                                            <ItemStyle ForeColor="#66FF66" Font-Size="X-Small" />
                                            </asp:BoundField>
                                            <asp:BoundField DataField="Best_Ask" DataFormatString="{0:f4}" HeaderText="Best Ask">
                                            <HeaderStyle   />
                                            <ItemStyle ForeColor="#FFFFFF"  />
                                            </asp:BoundField>
                                            <asp:BoundField DataField="Best_bid" DataFormatString="{0:f4}" HeaderText="Best Bid">
                                            <HeaderStyle  />
                                            <ItemStyle Font-Italic="True" ForeColor="#FFFFFF" />
                                            </asp:BoundField>
                                            <asp:BoundField DataField="Current_price" DataFormatString="{0:f4}" HeaderText="Current Price">
                                            <HeaderStyle  />
                                            <ItemStyle ForeColor="#FFFFFF" />
                                            </asp:BoundField>
                                            
                                        </Columns>
                                        <HeaderStyle BorderColor="White" BorderStyle="Solid" />
                                    </asp:GridView>
    </asp:Panel>
                                <asp:Panel ID="Panel1" runat="server"  ScrollBars="Auto">
                                    <br />
                                    <asp:GridView ID="GridView1"   Width="100%" Font-Size="X-Small" runat="server" AutoGenerateColumns="False" AutoGenerateSelectButton="True" BackColor="#2a323c" DataKeyNames="Company" ForeColor="White" GridLines="None" Height="240px" OnRowDataBound="GridView1_RowDataBound"  OnSelectedIndexChanged="GridView1_SelectedIndexChanged">
                                        <AlternatingRowStyle BackColor="#333333" />
                                        <Columns>
                                            <asp:BoundField DataField="Company" HeaderText="Company">
                                            <HeaderStyle Font-Size="X-Small"/>
                                            <ItemStyle ForeColor="#66FF66" Font-Size="X-Small" />
                                            </asp:BoundField>
                                            <asp:BoundField DataField="Volume" DataFormatString="{0:f0}" HeaderText="Best Bid(Volume)">
                                            <HeaderStyle   />
                                            <ItemStyle ForeColor="#0B99FF"  />
                                            </asp:BoundField>
                                            <asp:BoundField DataField="Bid" DataFormatString="{0:f4}" HeaderText="Bid Price">
                                            <HeaderStyle  />
                                            <ItemStyle Font-Italic="True" ForeColor="#0B99FF" />
                                            </asp:BoundField>
                                            <asp:BoundField DataField="Volume Sell" DataFormatString="{0:f0}" HeaderText="Volume(Ask)">
                                            <HeaderStyle  />
                                            <ItemStyle ForeColor="#FF6600" />
                                            </asp:BoundField>
                                            <asp:BoundField DataField="Ask" DataFormatString="{0:f4}" HeaderText="Ask Price">
                                            <HeaderStyle  />
                                            <ItemStyle Font-Italic="True" ForeColor="#FF6600"  />
                                            </asp:BoundField>
                                            <asp:BoundField DataField="Last Traded Price" DataFormatString="{0:f4}" HeaderText="Price (VWA)">
                                            <HeaderStyle  Width="64px" HorizontalAlign="Right"/>
                                             <ItemStyle Width="50px" HorizontalAlign="Right" />
                                            </asp:BoundField>
                                            <asp:ImageField ControlStyle-Height="15px" ControlStyle-Width="15px" DataImageUrlField="url" HeaderText="">
                                                <ControlStyle Height="15px" Width="15px" />
                                                <ItemStyle />
                                            </asp:ImageField>

                                            <asp:BoundField DataField="LastMatched" DataFormatString="{0:f4}" HeaderText="Last Price" >
                                            <HeaderStyle  />
                                            <ItemStyle  />
                                            </asp:BoundField>
                                            <asp:BoundField DataField="LastVolume" DataFormatString="{0:f0}" HeaderText="Last Volume" >
                                            <HeaderStyle  />
                                            <ItemStyle  />
                                            </asp:BoundField>
                                             <asp:BoundField DataField="TotalVolume" DataFormatString="{0:f0}" HeaderText="Traded Volume" >
                                            <HeaderStyle />
                                            <ItemStyle  />
                                            </asp:BoundField>
                                            <asp:BoundField DataField="Turnover" DataFormatString="{0:f0}" HeaderText="Turnover" >
                                            <HeaderStyle  />
                                            <ItemStyle  />
                                            </asp:BoundField>

                                            <asp:BoundField DataField="Open" DataFormatString="{0:f4}" HeaderText="Open" >
                                            <HeaderStyle  />
                                            <ItemStyle  />
                                            </asp:BoundField>
                                            <asp:BoundField DataField="High" DataFormatString="{0:f4}" HeaderText="High" >
                                            <HeaderStyle  />
                                            <ItemStyle  />
                                            </asp:BoundField>
                                            <asp:BoundField DataField="Low" DataFormatString="{0:f4}" HeaderText="Low" >
                                            <HeaderStyle  />
                                            <ItemStyle  />
                                            </asp:BoundField>
                                            <asp:BoundField DataField="Change" DataFormatString="{0:f4}" HeaderText="Change" >
                                            <HeaderStyle  />
                                            <ItemStyle  />
                                            </asp:BoundField>
                                             <asp:BoundField DataField="PercChange" DataFormatString="{0:f4}" HeaderText="Change(%)" >
                                                  <HeaderStyle  Width="64px" HorizontalAlign="Right"/>
                                             <ItemStyle  Width="50px" HorizontalAlign="Right" />
                                            </asp:BoundField>
                                            <asp:ImageField ControlStyle-Height="15px" ControlStyle-Width="15px" DataImageUrlField="url2" HeaderText="">
                                                <ControlStyle Height="9px" Width="9px" />
                                                <ItemStyle HorizontalAlign="Left" />
                                            </asp:ImageField>
                                        </Columns>
                                        <HeaderStyle BorderColor="White" BorderStyle="Solid" />
                                    </asp:GridView>
    </asp:Panel>
    <dx:ASPxLabel ID="ASPxLabel1" runat="server" ForeColor="Yellow" Text="ASPxLabel" Theme="iOS">
    </dx:ASPxLabel>
    <br />
    <asp:Panel ID="Panel2" runat="server" Height="446px" Width="100%" ScrollBars="Auto" Visible="False">
        <table width="100%">
            <tr>
                <td align="center" bgcolor="#ccccff" colspan="2" class="auto-style1">
                    <asp:Label ID="Label4" runat="server" Font-Bold="True" Font-Names="Calibri" Font-Size="Large" ForeColor="Blue" Text="Detailed Orders by Counter"></asp:Label>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <asp:Label ID="Label2" runat="server" Font-Bold="True" Font-Size="Small" ForeColor="White" Text="BUYS"></asp:Label>
                </td>
                <td align="center">
                    <asp:Label ID="Label3" runat="server" Font-Bold="True" Font-Size="Small" ForeColor="White" Text="SELLS"></asp:Label>
                </td>
            </tr>
            <tr>
                <td align="left" valign="top">
                    <asp:GridView ID="GridView2" runat="server" GridLines="None" EmptyDataText="No Buys" HorizontalAlign="Center" BackColor="#2a323c" Font-Size="Small" ForeColor="#0099FF" style="margin-right: 148px" Width="100%" BorderColor="White" BorderStyle="Solid" BorderWidth="1px" AutoGenerateColumns="False">
                        <Columns>
                            <asp:ImageField ControlStyle-Height="15px" ControlStyle-Width="10px" DataImageUrlField="mine" HeaderText="Mine">
                                                <ControlStyle Height="12px" Width="12px" />
                                                <ItemStyle HorizontalAlign="Justify" Font-Size="X-Small" />
                                            </asp:ImageField>
                            <asp:BoundField DataField="Company"  HeaderText="Company" />
                            <asp:BoundField DataField="Quantity" HeaderText="Quantity" />
                             <asp:BoundField DataField="BasePrice" HeaderText="Price" />
                             
                             <asp:BoundField DataField="OrderPref" HeaderText="Preference" />
                             <asp:BoundField DataField="TIF" HeaderText="TIF" />
                            <asp:CheckBoxField DataField="Block" HeaderText="FOK" />
                            
                        </Columns>
                        <HeaderStyle ForeColor="White" HorizontalAlign="Justify" />
                        
                        <RowStyle HorizontalAlign="Justify" />
                         <HeaderStyle BorderColor="White" BorderStyle="Solid" BorderWidth="1px" />
                    </asp:GridView>
                </td>
                <td align="left" valign="top">
                    <asp:GridView ID="GridView3" runat="server" GridLines="None" BackColor="#2a323c" HorizontalAlign="center" EmptyDataText="No Sells" Font-Size="Small" ForeColor="#FF6600" style="margin-right: 148px" Width="100%" BorderColor="White" BorderStyle="Solid" BorderWidth="1px" AutoGenerateColumns="False">
                         <Columns>
                              <asp:ImageField ControlStyle-Height="15px" ControlStyle-Width="15px" DataImageUrlField="mine" HeaderText="Mine">
                                                <ControlStyle Height="12px" Width="12px" />
                                                <ItemStyle HorizontalAlign="Justify" Font-Size="X-Small" />
                                            </asp:ImageField>
                            <asp:BoundField DataField="Company" HeaderText="Company" />
                            <asp:BoundField DataField="Quantity" HeaderText="Quantity" />
                             <asp:BoundField DataField="BasePrice" HeaderText="Price" />
                             <asp:BoundField DataField="OrderPref" HeaderText="Preference" />
                             <asp:BoundField DataField="TIF" HeaderText="TIF" />
                            <asp:CheckBoxField DataField="Block" HeaderText="FOK" />
                        </Columns>

                        <HeaderStyle ForeColor="White" HorizontalAlign="Justify" />
                          <RowStyle HorizontalAlign="Justify" />
                         <HeaderStyle BorderColor="White" BorderStyle="Solid" BorderWidth="1px"/>
                    </asp:GridView>
                </td>
            </tr>
        </table>
    </asp:Panel>
    <asp:Panel ID="Panel4" runat="server" Height="446px" Width="100%" ScrollBars="Auto" Visible="False">
        <table width="100%">
            <tr>
                <td align="center" bgcolor="#ccccff" colspan="2" class="auto-style1">
                    <asp:Label ID="Label6" runat="server" Font-Bold="True" Font-Names="Calibri" Font-Size="Large" ForeColor="Blue" Text="Detailed Orders by Counter"></asp:Label>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <asp:Label ID="Label7" runat="server" Font-Bold="True" Font-Size="Small" ForeColor="White" Text="BUYS"></asp:Label>
                </td>
                <td align="center">
                    <asp:Label ID="Label8" runat="server" Font-Bold="True" Font-Size="Small" ForeColor="White" Text="SELLS"></asp:Label>
                </td>
            </tr>
            <tr>
                <td align="left" valign="top">
                    <asp:GridView ID="GridView5"  runat="server" PageSize="25" GridLines="None" EmptyDataText="No Buys" HorizontalAlign="Center" BackColor="#2a323c" Font-Size="Small" ForeColor="#0099FF" style="margin-right: 148px" Width="100%" BorderColor="White" BorderStyle="Solid" BorderWidth="1px" AutoGenerateColumns="False" AllowPaging="True" OnPageIndexChanging="GridView5_PageIndexChanging">
                        <Columns>
                            <asp:ImageField ControlStyle-Height="15px" ControlStyle-Width="10px" DataImageUrlField="mine" HeaderText="Mine">
                                                <ControlStyle Height="12px" Width="12px" />
                                                <ItemStyle HorizontalAlign="Justify" Font-Size="X-Small" />
                                            </asp:ImageField>
                               <asp:BoundField DataField="ClientName"  HeaderText="Names" />
                               <asp:BoundField DataField="CDS_AC_No"  HeaderText="ATP/CSD Number" />
                            <asp:BoundField DataField="Company"  HeaderText="Company" />
                            <asp:BoundField DataField="Quantity" HeaderText="Quantity" />
                             <asp:BoundField DataField="BasePrice" HeaderText="Price" />
                             
                             <asp:BoundField DataField="OrderStatus" HeaderText="Status" />
                            
                        </Columns>
                        <HeaderStyle ForeColor="White" HorizontalAlign="Justify" />
                        
                        <RowStyle HorizontalAlign="Justify" />
                         <HeaderStyle BorderColor="White" BorderStyle="Solid" BorderWidth="1px" />
                    </asp:GridView>
                </td>
                <td align="left" valign="top">
                    <asp:GridView ID="GridView6" runat="server" PageSize="25" GridLines="None" BackColor="#2a323c" HorizontalAlign="center" EmptyDataText="No Sells" Font-Size="Small" ForeColor="#FF6600" style="margin-right: 148px" Width="100%" BorderColor="White" BorderStyle="Solid" BorderWidth="1px" AutoGenerateColumns="False" AllowPaging="True" OnPageIndexChanging="GridView6_PageIndexChanging">
                         <Columns>
                              <asp:ImageField ControlStyle-Height="15px" ControlStyle-Width="15px" DataImageUrlField="mine" HeaderText="Mine">
                                                <ControlStyle Height="12px" Width="12px" />
                                                <ItemStyle HorizontalAlign="Justify" Font-Size="X-Small" />
                                            </asp:ImageField>
                            <asp:BoundField DataField="ClientName"  HeaderText="Names" />
                               <asp:BoundField DataField="CDS_AC_No"  HeaderText="ATP/CSD Number" />
                            <asp:BoundField DataField="Company"  HeaderText="Company" />
                            <asp:BoundField DataField="Quantity" HeaderText="Quantity" />
                             <asp:BoundField DataField="BasePrice" HeaderText="Price" />
                             
                             <asp:BoundField DataField="OrderStatus" HeaderText="Status" />
                             </Columns>

                        <HeaderStyle ForeColor="White" HorizontalAlign="Justify" />
                          <RowStyle HorizontalAlign="Justify" />
                         <HeaderStyle BorderColor="White" BorderStyle="Solid" BorderWidth="1px"/>
                    </asp:GridView>
                </td>
            </tr>
        </table>
    </asp:Panel>
    </ContentTemplate>
<Triggers>
                <asp:AsyncPostBackTrigger ControlID="GridView1" EventName="RowCommand" />
            </Triggers>
</asp:UpdatePanel></td>
                        </tr>
                        <tr>
                            <td align="center" style="height: 370px; width: 650px; vertical-align: top;">
                                &nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 30px">
                    &nbsp;
                </td>
            </tr>
        
            <asp:Label ID="Label5" runat="server" Text="Label" Visible="false"></asp:Label>              
                
        </table>
    </div>
    <asp:ObjectDataSource ID="CompList" runat="server" SelectMethod="GetCompanyListLive"
        TypeName="Dealing"></asp:ObjectDataSource>
    </form>
</body>
</html>
