﻿@model BrokerOffice.Models.Depository

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Edit Depository</l>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DepositoryID)
        <table class="table table-striped">
        <tr>
            <td>
               
                    @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "" })
                <br />
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                  
            </td>
            <td>
             
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "" })
                <br />
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                
            </td>
            <td>

                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "" })
                <br />
                @Html.DropDownListFor(model => model.Country, (IEnumerable<SelectListItem>)ViewBag.Departments, new { @class = "form-control", @style = "border:solid;border-width:thin" })


                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })

            </td>
        </tr>
            <tr>  <td>

                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "" })
                    <br />
                    @Html.DropDownListFor(model => model.State, (IEnumerable<SelectListItem>)ViewBag.State, new { id = "State", @class = "form-control", @style = "border:solid;border-width:thin" })
                                  </td>
                <td>

                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "" })
                    <br />
                    @Html.DropDownListFor(model => model.City, (IEnumerable<SelectListItem>)ViewBag.City, new { id = "City", @class = "form-control", @style = "border:solid;border-width:thin" })
                </td>
                <td>

                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "" })
                    <br />
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })


                </td>
                <td>

                </td>
            </tr>
            <tr>

                <td>


                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "" })
                    <br />
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })

                </td>

                <td></td>
                <td></td>
            </tr>
        </table>
        

        

        

    

      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

        <div class="col-md-2" style="display:none">
            @Html.EditorFor(model => model.CityID, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
            @Html.EditorFor(model => model.StateID, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })

            @Html.EditorFor(model => model.CountryID, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })

            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
            @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })

            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@{
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/'); ;

}
<script type="text/javascript">
        $(function () {
            $("select").each(function () {
                if ($(this).find("option").length <= 1) {
                    $(this).attr("disabled", "disabled");
                }
            });

            $("select").change(function () {
                var value = 0;
                if ($(this).val() != "") {
                    value = $(this).val();
                }
                var id = $(this).attr("id");
                $.ajax({
                    type: "POST",
                    url: "@baseUrl/Depositories/AjaxMethod",
                    data: '{type: "' + id + '", value: ' + value + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        var dropDownId;
                        var list;
                        switch (id) {
                            case "Country":
                                dropDownId = "#State";
                                list = response;
                                DisableDropDown("#City");
                                DisableDropDown("#State");
                                PopulateDropDown("#State", list);
                                break;
                            case "State":
                                dropDownId = "#City";
                                list = response;
                                DisableDropDown("#City");
                                PopulateDropDown("#City", list);
                                break;
                          }

                    },
                    failure: function (response) {
                        //alert(response.responseText);
                    },
                    error: function (response) {
                        //alert(response.responseText);
                    }
                });
            });
        });

        function DisableDropDown(dropDownId) {
            $(dropDownId).attr("disabled", "disabled");
            $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        }

        function PopulateDropDown(dropDownId, list) {
            if (list != null && list.length > 0) {
                $(dropDownId).removeAttr("disabled");
                $.each(list, function () {
                    $(dropDownId).append($("<option></option>").val(this['Value']).html(this['Text']));
                });
            }
        }

        $(function () {
            if ($("#Country").val() != "" && $("#City").val() != "" && $("#State").val() != "") {
                var message = "Country: " + $("#Country option:selected").text();
                 message += "\nCity: " + $("#City option:selected").text();
                //alert(message);
            }
        });
</script>
