﻿@model IEnumerable<BrokerOffice.Models.Depository>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
</p>

<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Depository</l>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td></td>
                </tr>
                <tr>
                            <td>
                    <a href="@Url.Action("Edit", new { id = item.DepositoryID })">
                        <i class="glyphicon glyphicon-pencil">Update</i>

                    </a>
                    |
                    <a href="@Url.Action("Details", new { id =item.DepositoryID})">
                        <i class="glyphicon glyphicon-file">Details</i>

                    </a>
                    |
                    <a href="@Url.Action("Delete", new { id = item.DepositoryID })">
                        <i class="glyphicon glyphicon-trash">Delete</i>

                    </a>
                                
                </td>
                    <td>

                    </td>
                    <td>

                    </td>
            </tr>
        }

    </table>
    </div>