﻿@model BrokerOffice.Models.BatchApplication

@using PagedList.Mvc;
@using WebMatrix.WebData
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BatchApplication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberofshares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberofshares)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchNo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
