﻿@model IEnumerable<BrokerOffice.Models.BatchApplication>

@using PagedList.Mvc;
@using WebMatrix.WebData
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}


<a class="btn btn-primary" href="~/batch_mastapprov/Index">
    Return To Batch

</a>
<div style="margin-left:5%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Batch Applications,  @ViewBag.nm ,     Shares:@ViewBag.shrs ,    Batch Total:@ViewBag.amt ,    Applications:@ViewBag.apps </l>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numberofshares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchNo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numberofshares)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clientnumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchNo)
                </td>
                <td>
                    @if (ViewBag.stat != "SUBMITTED")
                    {
                        if (ViewBag.stat != "AUTHORISED")
                        {
                            <a href='~/PrimaryMarket/Batch.aspx?idd=@Convert.ToInt32(item.BatchApplicationID)'>
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                        }
                        else
                        {
                            <a href="#">
                                <i class="glyphicon glyphicon-file"><i style="font-weight:bold;font-style:normal">AUTHORISED</i></i>

                            </a>
                        }
                    }
                    else
                    {
                        <a href="#">
                            <i class="glyphicon glyphicon-file"><i style="font-weight:bold;font-style:normal">SUBMITTED</i></i>

                        </a>
                    }
                  
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.BatchApplicationID }) |*@
                    @Html.ActionLink("Details", "Details", new { id = item.BatchApplicationID }) |
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.BatchApplicationID })*@
                </td>
            </tr>
        }

    </table>
    </div>