﻿@model BrokerOffice.Models.ActionFormcs

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ActionFormcs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientPortfoliosID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientPortfoliosID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientNames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientholdings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientholdings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.minutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.setting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.setting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactnotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactnotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adviceclient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adviceclient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contacttype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contacttype)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActionFormID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
