﻿@model IEnumerable<BrokerOffice.Models.ActionFormcs>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Portfolio Management</l>
    </div>
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clientholdings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
         
 
          
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientPortfoliosID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientNames)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clientholdings)
                </td>
                <td>
                    @{ 
                        DateTime jdate =Convert.ToDateTime(item.Date);
                        string dr = jdate.ToString("dd/MM/yyyy");
                    }
              @dr
                </td>
           
                <td>
                    <a href='~/PrimaryMarket/ActionForm.aspx?id=@Convert.ToInt32(item.ActionFormID)'>
                        <i class="glyphicon glyphicon-pencil"></i>

                    </a>
                    |
                    <a href="@Url.Action("Details", new { id =item.ActionFormID})">
                        <i class="glyphicon glyphicon-file"></i>

                    </a>
                    |
                    <a href="@Url.Action("Delete", new { id = item.ActionFormID })">
                        <i class="glyphicon glyphicon-trash"></i>

                    </a>
                </td>
              
            </tr>
        }

    </table>
    </div>