﻿@model BrokerOffice.Models.ClientPortfolios

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Client Portfolios Form</l>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table table-striped">
               <tr>
                   <td>
          
                           @Html.LabelFor(model => model.ClientNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                       <br /><br />
                               @Html.DropDownListFor(model => model.ClientNumber, (IEnumerable<SelectListItem>)ViewBag.Clyp, null, htmlAttributes: new { @class = "form-control", @style = "width:150px" })

                               @Html.ValidationMessageFor(model => model.ClientNumber, "", new { @class = "text-danger" })
                         
                   </td>
                
        
                   <td>
        
                           @Html.LabelFor(model => model.Stock, htmlAttributes: new { @class = "control-label col-md-4" })
                       <br /><br />
                               @Html.DropDownListFor(model => model.Stock, (IEnumerable<SelectListItem>)ViewBag.Dlyp, null, htmlAttributes: new { @class = "form-control", @style = "width:150px;margin-top:3%" })

                               @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
                    
                   </td>
                   <td>

                           @Html.LabelFor(model => model.Holdings, htmlAttributes: new { @class = "control-label col-md-4" })
                       <br /><br />
                               @Html.EditorFor(model => model.Holdings, new { htmlAttributes = new { @class = "form-control", @style = "width:150px;margin-top:3%" } })
                               @Html.ValidationMessageFor(model => model.Holdings, "", new { @class = "text-danger" })
                     
                   </td>
         
               </tr>
        </table>
     
     
   

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
