﻿@model PagedList.IPagedList<BrokerOffice.Models.ClientPortfolios>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}




<p>
    <a class="btn btn-primary" href="~/PrimaryMarket/PortfolioCreation.aspx">
        <i class="glyphicon glyphicon-plus"></i>
      Create New
    </a>
   

<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Client Portfolio</l>
    </div>
    <table class="table">
        <tr>
            <th>
                ClientNumber
            </th>
            <th>
    
                @Html.ActionLink("Stock", "Index", new { sortOrder = ViewBag.StockSortParm })
            </th>
            <th>
                @Html.ActionLink("Holdings", "Index", new { sortOrder = ViewBag.HoldingsSortParm })
   
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Holdings)
                </td>

                <td>
                    <a href='~/PrimaryMarket/PortfolioCreation.aspx?id=@Convert.ToInt32(item.ClientPortfoliosID)'>
                        <i class="glyphicon glyphicon-pencil"></i>

                    </a>
                    |
                    <a href="@Url.Action("Details", new { id =item.ClientPortfoliosID})">
                        <i class="glyphicon glyphicon-file"></i>

                    </a>
                    |
                    <a href="@Url.Action("Delete", new { id = item.ClientPortfoliosID })">
                        <i class="glyphicon glyphicon-trash"></i>

                    </a>
                </td>
               
            </tr>
        }

    </table>
    </div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
    @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))
