﻿@model BrokerOffice.Models.para_Currencies

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Add Currencies Form</l>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table table-striped">
            <tr>
                <td>

                    @Html.LabelFor(model => model.CurrencyCode, htmlAttributes: new { @class = "control-label col-md-4" })
                    <br />
                    @Html.EditorFor(model => model.CurrencyCode, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.CurrencyCode, "", new { @class = "text-danger" })

                </td>
                <td>

                    @Html.LabelFor(model => model.CurrencyName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <br />
                    @Html.EditorFor(model => model.CurrencyName, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.CurrencyName, "", new { @class = "text-danger" })

                </td>
                <td>

                    @Html.LabelFor(model => model.CurrencySymbol, htmlAttributes: new { @class = "control-label col-md-4" })
                    <br />
                    @Html.EditorFor(model => model.CurrencySymbol, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.CurrencySymbol, "", new { @class = "text-danger" })

                </td>
            </tr>
            <tr>
                <td>

                    @Html.LabelFor(model => model.InternationalSTD, htmlAttributes: new { @class = "control-label col-md-4" })
                    <br />
                    @Html.EditorFor(model => model.InternationalSTD, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.InternationalSTD, "", new { @class = "text-danger" })

                </td>
                <td>

                    @Html.LabelFor(model => model.CurrencyStatus, htmlAttributes: new { @class = "control-label col-md-4" })
                    <br />
                    @Html.EditorFor(model => model.CurrencyStatus, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.CurrencyStatus, "", new { @class = "text-danger" })

                </td>
                <td>

                    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-4" })
                    <br />
                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })

                </td>
            </tr>
            <tr>
                <td>

                    @Html.LabelFor(model => model.Pref, htmlAttributes: new { @class = "control-label col-md-4" })
                    <br />
                    @Html.EditorFor(model => model.Pref, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.Pref, "", new { @class = "text-danger" })

                </td>
                <td></td>
                <td></td>
            </tr>
        </table>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
