﻿@model BrokerOffice.Models.ScriptRegister

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin2"))
    {
        Layout = "~/Views/Shared/_BrokerAdmin2Layout.cshtml";
    }
    else if (User.IsInRole("General"))
    {
        Layout = "~/Views/Shared/_GeneralLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}

<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Details</l>
    </div>

    <div>
        <h4>ScriptRegister</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ClientNames)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClientNames)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClientNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClientNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Counter)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Counter)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CertificateNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CertificateNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumberShares)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberShares)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ScriptRegisterID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>