﻿@model IEnumerable<BrokerOffice.Models.ScriptRegister>

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin2"))
    {
        Layout = "~/Views/Shared/_BrokerAdmin2Layout.cshtml";
    }
    else if (User.IsInRole("General"))
    {
        Layout = "~/Views/Shared/_GeneralLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}


<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
</p>
<p>
    <a class="btn btn-primary" href='~/Reporting/DepositoryReportFull.aspx?id=@ViewBag.csd'>
        <i class="glyphicon glyphicon-book">View Report</i>

    </a>
</p>
<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Certificates ,@ViewBag.csd</l>
    </div>
   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Counter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberShares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientNames)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Counter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CertificateNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberShares)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                </tr>
                <tr>
                <td>
                    @Html.ActionLink("Update", "Edit", new { id = item.ScriptRegisterID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ScriptRegisterID }) |
                    

                </td>
                    <td>
                        <a href='~/Reporting/DepositoryReport.aspx?id=@Convert.ToInt32(item.ScriptRegisterID)'>
                            <i class="glyphicon glyphicon-book">View Report</i>

                        </a>
                    </td>
            </tr>
        }

    </table>
    </div>