﻿@model BrokerOffice.Models.BatchHeader
@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin2"))
    {
        Layout = "~/Views/Shared/_BrokerAdmin2Layout.cshtml";
    }
}




<div style="margin-left:5%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Add Batch</l>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <table class="table table-striped">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BatchType, htmlAttributes: new { @class = "" })
                            <br /> <div class="col-md-10">
                                @Html.DropDownListFor(model => model.BatchType, (IEnumerable<SelectListItem>)ViewBag.Batch, new { id = "BatchType", @class = "form-control", @style = "border:solid;border-width:thin" })
                                @Html.ValidationMessageFor(model => model.BatchType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    
                </tr>
                <tr>

                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BatchName, htmlAttributes: new { @class = "" })
                            <br /> <div class="col-md-10">
                                @Html.EditorFor(model => model.BatchName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BatchName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BatchDate, htmlAttributes: new { @class = "" })
                            <br />  <div class="col-md-10">
                                @Html.JQueryUI().DatepickerFor(model => model.BatchDate).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
                                @Html.ValidationMessageFor(model => model.BatchDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </td>
                </tr>

            </table>
            <div class="form-group" style="visibility:hidden">
                @Html.EditorFor(model => model.Status)
                @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.EditorFor(model => model.BatchNo, new { htmlAttributes = new { @class = "form-control", @Value ="T" } })
                @Html.ValidationMessageFor(model => model.BatchType, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.NumberOfTrxns, new { htmlAttributes = new { @class = "form-control", @Value = "1" } })


                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @Value = "1" } })




            </div>
        </div>
    }


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>