﻿@model BrokerOffice.Models.BatchHeader

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin2"))
    {
        Layout = "~/Views/Shared/_BrokerAdmin2Layout.cshtml";
    }
}




<div style="margin-left:5%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Batch Details</l>
    </div>
    <div>
       <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BatchNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BatchNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BatchType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BatchType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumberOfTrxns)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfTrxns)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BatchName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BatchName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BatchDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BatchDate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>