﻿@model IEnumerable<BrokerOffice.Models.tblFinancialAccount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Financial Accounts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tblFinAccountGroups.AccountTypeName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.tblFinAccountSubGroups.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblFinancialAccountClassification.ClassificationName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubAccountNumber)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherDetails)
            </th>*@
            @*<th></th>*@
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tblFinAccountGroups.AccountTypeName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.tblFinAccountSubGroups.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblFinancialAccountClassification.ClassificationName)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubAccountNumber)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherDetails)
                </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FinancialAccountId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FinancialAccountId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FinancialAccountId })
                </td>
            </tr>
        }

    </table>

</div>
