﻿@model BrokerOffice.Models.TradingCharges

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Details</l>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stockisin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stockisin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockSecuritieesID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockSecuritieesID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chargecode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chargecode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chargedescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chargedescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tradeside)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tradeside)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChargedAs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChargedAs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chargevalue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chargevalue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chargefrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chargefrequency)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TradingChargesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
