﻿@model BrokerOffice.Models.TradingCharges

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Edit Trading Charges Form</l>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TradingChargesID)

        <table class="table table-striped">
            <tr>


                <td>
                    @Html.LabelFor(model => model.stockisin, htmlAttributes: new { @class = "" })
                    <br />
                    @Html.DropDownListFor(model => model.stockisin, (IEnumerable<SelectListItem>)ViewBag.StockType, new { id = "stockisin", @class = "form-control", @style = "border:solid;border-width:thin" })


                    @Html.ValidationMessageFor(model => model.stockisin, "", new { @class = "text-danger" })



                </td>
                <td>
                    @Html.LabelFor(model => model.ChargeName, htmlAttributes: new { @class = "" })
                    <br />
                    @Html.EditorFor(model => model.ChargeName, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                    
                    @Html.ValidationMessageFor(model => model.ChargeName, "", new { @class = "text-danger" })



                </td>



                <td>
                    @Html.LabelFor(model => model.tradeside, htmlAttributes: new { @class = "" })
                    <br /><br />
                    @if (Model.tradeside == "Sell")
                    {
                           @Html.RadioButton("tradeside", "Sell", isChecked: true)@Html.Label("Sell")
                    @Html.RadioButton("tradeside", "Buy", isChecked: false)@Html.Label("Buy")
                    @Html.RadioButton("tradeside", "Both", isChecked: false)@Html.Label("Both")
                    @Html.ValidationMessageFor(model => model.tradeside, "", new { @class = "text-danger" })
                    }
                    else if (Model.tradeside == "Buy")
                    {
                        @Html.RadioButton("tradeside", "Sell", isChecked: false)@Html.Label("Sell")
                        @Html.RadioButton("tradeside", "Buy", isChecked: true)@Html.Label("Buy")

                    @Html.RadioButton("tradeside", "Both", isChecked: false)@Html.Label("Both")

                    @Html.ValidationMessageFor(model => model.tradeside, "", new { @class = "text-danger" })

                    }
                    else if (Model.tradeside == "Both")
                    {
                        @Html.RadioButton("tradeside", "Sell", isChecked: false)@Html.Label("Sell")
                        @Html.RadioButton("tradeside", "Buy", isChecked: false)@Html.Label("Buy")
                        @Html.RadioButton("tradeside", "Both", isChecked: true)@Html.Label("Both")
                        @Html.ValidationMessageFor(model => model.tradeside, "", new { @class = "text-danger" })
}


                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.chargecode, htmlAttributes: new { @class = "" })
                    <br />
                    @Html.EditorFor(model => model.chargecode, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                    @Html.ValidationMessageFor(model => model.chargecode, "", new { @class = "text-danger" })



                </td>

                <td>
                    @Html.LabelFor(model => model.ChargedAs, htmlAttributes: new { @class = "" })
                    <br /><br />
                    @if (Model.ChargedAs == "Flat")
                    {
                        @Html.RadioButton("ChargedAs", "Flat", isChecked: true)@Html.Label("Flat")
                        @Html.RadioButton("ChargedAs", "Percentage", isChecked: false)@Html.Label("Percentage")
                        @Html.ValidationMessageFor(model => model.ChargedAs, "", new { @class = "text-danger" })
                    }else{
                    @Html.RadioButton("ChargedAs", "Flat", isChecked: false)@Html.Label("Flat")
                    @Html.RadioButton("ChargedAs", "Percentage", isChecked: true)@Html.Label("Percentage")
                    @Html.ValidationMessageFor(model => model.ChargedAs, "", new { @class = "text-danger" })
                    }
                 

                </td>

                <td>
                    @Html.LabelFor(model => model.chargedescription, htmlAttributes: new { @class = "" })
                    <br />
                    @Html.EditorFor(model => model.chargedescription, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                    @Html.ValidationMessageFor(model => model.chargedescription, "", new { @class = "text-danger" })


                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.chargefrequency, htmlAttributes: new { @class = "" })
                    <br />
                    @Html.DropDownListFor(model => model.chargefrequency, (IEnumerable<SelectListItem>)ViewBag.Fre, "Select Frequency", new { id = "stockisin", @class = "form-control", @style = "border:solid;border-width:thin" })<SelectListItem>
                        @Html.ValidationMessageFor(model => model.chargefrequency, "", new { @class = "text-danger" })


</td>
                <td>
                    @Html.LabelFor(model => model.chartaccount, htmlAttributes: new { @class = "" })
                    <br />
                    @Html.DropDownListFor(model => model.chartaccount, (IEnumerable<SelectListItem>)ViewBag.Chart, new { @class = "form-control", @style = "width:250px" })

                    @Html.ValidationMessageFor(model => model.chartaccount, "", new { @class = "text-danger" })



                </td>
                <td>
                    @Html.LabelFor(model => model.chargevalue, htmlAttributes: new { @class = "" })
                    <br />
                    @Html.EditorFor(model => model.chargevalue, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                    @Html.ValidationMessageFor(model => model.chargevalue, "", new { @class = "text-danger" })


                </td>
                <td>
                    
                </td>
                

            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <br /><br />
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </td>

                <td>
                    <div class="form-group" style="visibility:hidden">
                        @Html.LabelFor(model => model.StockSecuritieesID, htmlAttributes: new { @class = "" })
                        <br />
                        @Html.EditorFor(model => model.StockSecuritieesID, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                        @Html.ValidationMessageFor(model => model.StockSecuritieesID, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group" style="visibility:hidden">
                        @Html.LabelFor(model => model.chargeaccountcode, htmlAttributes: new { @class = "" })
                        <br />
                        @Html.EditorFor(model => model.chargeaccountcode, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                        @Html.ValidationMessageFor(model => model.chargeaccountcode, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
        </table>

            
 
       


       

     


        


        


         

 
      

   
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@{
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/'); ;

}
<script type="text/javascript">
        $(function () {
            $("select").each(function () {
                if ($(this).find("option").length <= 1) {
                    $(this).attr("disabled", "disabled");
                }
            });

            $("select").change(function () {
                var value = 0;
                if ($(this).val() != "") {
                    value = $(this).val();
                }
                var id = $(this).attr("id");
                $.ajax({
                    type: "POST",
                    url: "@baseUrl/TradingCharges/AjaxMethod",
                    data: '{type: "' + id + '", value: ' + value + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        var dropDownId;
                        var list;
                        switch (id) {
                            case "stockisin":
                                dropDownId = "#ChargeName";
                                list = response;

                                DisableDropDown("#ChargeName");
                                PopulateDropDown("#ChargeName", list);
                                break;

                          }

                    },
                    failure: function (response) {
                        //alert(response.responseText);
                    },
                    error: function (response) {
                        //alert(response.responseText);
                    }
                });
            });
        });

        function DisableDropDown(dropDownId) {
            $(dropDownId).attr("disabled", "disabled");
          //''$(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        }

        function PopulateDropDown(dropDownId, list) {
            if (list != null && list.length > 0) {
                $(dropDownId).removeAttr("disabled");
                $.each(list, function () {
                    $(dropDownId).append($("<option selected='selected' value='0'></option>").val(this['Value']).html(this['Text']));
                });
            }
        }

        $(function () {
            if ($("#stockisin").val() != "" && $("#ChargeName").val() != "") {
                var message = "Country: " + $("#Country option:selected").text();
                 message += "\nCity: " + $("#City option:selected").text();
                //alert(message);
            }
        });
</script>
