﻿@model BrokerOffice.Models.tblFinancialAccount

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Financial Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblBalanceType.BalanceTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblBalanceType.BalanceTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblFinAccountGroup.AccountTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblFinAccountGroup.AccountTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblFinAccountSubGroup.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblFinAccountSubGroup.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblFinancialAccountClassification.ClassificationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblFinancialAccountClassification.ClassificationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubAccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherDetails)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FinancialAccountId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
