﻿@model BrokerOffice.Models.BatchTransaction


@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}


<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Delete Batch Transactions</l>
    </div>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Batch Transaction</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TrxnDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrxnDate)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Reference)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reference)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>




            <dt>
                @Html.DisplayNameFor(model => model.BankID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BankID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BankAccName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BankAccName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BatchNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BatchNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Account)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Account)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AccountName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AccountD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountD)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AccountNameD)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AccountNameD)
            </dd>


        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    </div>