﻿@model IEnumerable<BrokerOffice.Models.BatchTransaction>


@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}




<br />
<div style="margin-left:5%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Batch Transactions,Batch Number @ViewBag.Batch</l>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrxnDate)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.BatchNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNameD)
            </th>
          
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrxnDate)
                </td>

               
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNameD)
                </td>
            </tr>
            <tr>
                <td>
                    @if (item.Auth == true)
                    {
                        string s= "Sent for approval";
                        @s
                    }
                    else
                    {
                      
                    }
                     |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
@if (item.Auth ==false)
{
}
                </td>
            </tr>
        }

    </table>

    @if (ViewBag.Status == false)
    {




    }
    else
    {
        <a style="width:150px" class="btn btn-primary" href="#">
            Sent for Approval

        </a>
    }

    <br />
    @if (ViewBag.Status == false)
    {
        <a style="width:150px" class="btn btn-primary" onclick="return confirm('Are you sure you want to approve and commit the batch ?');" href="~/BatchTransactionsApprove/Commit?batch=@ViewBag.Batch">
            Commit Batch

        </a>
    }
    </div>