﻿@model BrokerOffice.Models.Tax

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Edit Tax Form</l>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <table class="table table-striped">
            <tr>
                <td>

                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <br />
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                </td>
                <td>

                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                    <br />
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                </td>
                <td>


                    @Html.LabelFor(model => model.Percentage, htmlAttributes: new { @class = "control-label col-md-4" })
                    <br />
                    @Html.EditorFor(model => model.Percentage, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.Percentage, "", new { @class = "text-danger" })

                </td>
            </tr>
            <tr>
                <td>

                    @Html.LabelFor(model => model.isset, htmlAttributes: new { @class = "control-label col-md-4" })
                    <br />
                    @Html.EditorFor(model => model.isset)
                    @Html.ValidationMessageFor(model => model.isset, "", new { @class = "text-danger" })


                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
