﻿@model BrokerOffice.Models.LoginViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";

}



  
   


   @using (Html.BeginForm(new { autocomplete = "off" }))
   { @Html.AntiForgeryToken()

    <div class="pen-title">
        <img src="~/images/bbo.png" width="25%" height="100%" class="img-responsive" />        
    </div>
    <!-- Form Module-->
    <div class="module form-module">
        <div class="toggle">
            <i class="fa fa-times fa-pencil"></i>
            <div class="tooltip">Click Me</div>
        </div>
        <div class="form">
            <h2>Login to your account</h2>
            <form>
                @*@Html.LabelFor(model => model.Username, new { @class = "sr-only" })*@

                @Html.EditorFor(model => model.Username, new { htmlAttributes = new {@Autocomplete="off", @placeholder = "Username", @type = "Text", @title = "Username is  mandatory" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-information" })


                @*@Html.LabelFor(model => model.Password, new { @class = "sr-only" })*@

                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @Autocomplete = "off",@placeholder = "Password...", @type = "password", @title = "Password is  mandatory" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color:red" })


                <div class="form-group">
                    <p style = "color:red"><i>@ViewBag.Attempts</i></p>

                </div>
                <div class="form-group">
                    <p class="text-information">

                        @Html.ValidationSummary(true)
                    </p>
                </div>
                <input type="submit" value="Login" class="btn-lg btn-block btn-success" />
                <br />
                <input type="reset" value="Clear" class="btn-lg btn-block btn-warning" />
                <br />

            </form>
        </div>
        <div class="form">
            <h2>Create an account</h2>
            <form>
                <input type="text" placeholder="Username" />
                <input type="password" placeholder="Password" />
                <input type="email" placeholder="Email Address" />
                <input type="tel" placeholder="Phone Number" />
                <button>Register</button>
            </form>
        </div>
        <div class="cta"><a href="~/Account/ForgotPassword">Forgot your password?</a></div>
   </div>
   }
