﻿@using DevExpress.DashboardCommon
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <title>Broker Office Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="Statistics Dashboard" name="description" />
    <meta content="ThemeDesign" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--<link rel="shortcut icon" href="assets/images/favicon.ico">-->
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Dashboard/assets/plugins/morris/morris.css")">

    <link href="@Url.Content("~/Dashboard/assets/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Dashboard/assets/css/icons.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Dashboard/assets/css/style.css")" rel="stylesheet" type="text/css">
    <script type="text/javascript" language="Javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

    <script type="text/javascript" language="javascript">

        $(document).ready(function() {
            var idleInterval = setInterval("reloadPage()", 180000); // 30 Seconds
        })

        function reloadPage() {
            location.reload();
        }
    </script>
</head>

<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
       
            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="">
                        <div class="pull-left">
                            
                            @{

                              
                                    <a href="~/Statistics/MarketWatch">
                                        <button type="button" class="button-menu-mobile open-left waves-effect waves-light">
                                            <i class="glyphicon glyphicon-home" style="color:white"></i>
                                           
                                        </button><i style="color:white">BACK</i>
                                    </a>
                                 

                            }
                           
                            <span class="clearfix"></span>
                        </div>
                       
                        
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->

            <!-- end sidebarinner -->
       
        <!-- Left Sidebar End -->
        <!-- Start right Content here -->

        <div class="content-page" style="border: solid;margin-left:-15px;">
            <!-- Start content -->
            <div class="content" style="margin:0 !important">

                <div class="">
                    <div class="page-header-title">
                        <h4 class="page-title">C-Trade Market Watch</h4>
                    </div>
                </div>

                <div class="page-content-wrapper ">

                    <div class="container">

                    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-body">
                                        <h4 class="m-b-30 m-t-0">@ViewBag.sec</h4>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="table-responsive">
                                                    <table class="table table-hover m-b-0">
                                                        <thead>
                                                            <tr>
                                                                <th style="font-size:10pt"></th>
                                                                <th style="font-size:10pt"></th>
                                                                <Th style="font-size:16pt">BEST BID</Th>
                                                            </tr>
                                                            <tr>
                                                              <th style="font-size:10pt">COMPANY</th>  
                                                               <th style="font-size:10pt">QUANTITY</th> 
                                                                <Th style="font-size:10pt">PRICE</Th>
                                                                </tr>

                                                        </thead>
                                                        <tbody>
                                                        @foreach(var p in ViewBag.ListB)
                                                            {
                                                        <tr>
                                                            <td>@ViewBag.Sec</td>
                                                            <td>@Math.Round(Convert.ToDouble(p.Quantity), 4).ToString()</td>
                                                            <td>@Math.Round(Convert.ToDouble(p.BasePrice), 4).ToString()</td>
                                                            
                                                        </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="table-responsive">
                                                    <table class="table table-hover m-b-0">
                                                        <thead>
                                                            <tr>
                                                                <th style="font-size:10pt"></th>
                                                                <th style="font-size:10pt"></th>
                                                                <Th style="font-size:16pt">BEST ASK</Th>
                                                            </tr>
                                                            <tr>
                                                                <th style="font-size:10pt">COMPANY</th>
                                                                <th style="font-size:10pt">QUANTITY</th>
                                                                <Th style="font-size:10pt">PRICE</Th>
                                                            </tr>

                                                        </thead>
                                                        <tbody>
                                                            @foreach (var p in ViewBag.ListS)
                                                            {
                                                                <tr>
                                                                    <td>@ViewBag.Sec</td>
                                                                    <td>@Math.Round(Convert.ToDouble(p.Quantity), 4).ToString()</td>
                                                                    <td>@Math.Round(Convert.ToDouble(p.BasePrice), 4).ToString()</td>

                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->

                        </div>
                        <!-- end row -->



                    </div><!-- container -->


                </div> <!-- Page content Wrapper -->

            </div> <!-- content -->

            <footer class="footer">
                ©2018 Escrow Systems - All Rights Reserved.
            </footer>

        </div>
        <!-- End Right content here -->

    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="@Url.Content("~/Dashboard/assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/detect.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/fastclick.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/jquery.slimscroll.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/jquery.blockUI.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/waves.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/wow.min.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/jquery.nicescroll.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/jquery.scrollTo.min.js")"></script>

    <!--Morris Chart-->
    <script src="@Url.Content("~/Dashboard/assets/plugins/morris/morris.min.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/plugins/raphael/raphael-min.js")"></script>

    <script src="@Url.Content("~/Dashboard/assets/pages/dashborad.js")"></script>

    <script src="@Url.Content("~/Dashboard/assets/js/app.js")"></script>

</body>
</html>
