@media screen {	
	.ob_gMCont /*.ob_gridMainContainer*/
	{
		/*border: 1px solid #C3C9CE;*/
		border-top: 0px;
		border-bottom: 0px;
		overflow: hidden;		
	}
	.ob_gDGMCont /*.ob_gridDetailGridMainContainer*/
	{
		border: 1px solid #C3C9CE;
		overflow: hidden;
	}
	.ob_gMContC	
	{		
	}
	
		
		
	/* Styles for the Header */
	.ob_gHCont /*.ob_gridHeaderContainer*/
	{
		overflow: hidden;
		border-left: 1px solid #C3C9CE;
		border-right: 1px solid #C3C9CE;
	}
	.ob_gHContWG /*.ob_gridHeaderContainerWithoutGrouping*/
	{
		overflow: hidden;
		border-left: 1px solid #C3C9CE;
		border-right: 1px solid #C3C9CE;
	}
	.ob_gH /*.ob_gridHeader*/
	{
		padding: 0px;
		empty-cells:show;
		table-layout: fixed;
		*table-layout: auto;
	}	
	.ob_gH td /*.ob_gridHeader td*/
	{				
		border-left: 1px solid #B9C9D7;
		border-right: 1px solid transparent;
		*border-right: 0px;
		padding-right: 0px;
		border-bottom: 0px;
		border-top: 1px solid #EFF5F8;
		border-top: 0px;
	}
	.ob_gHCont td.ob_gHC /*.ob_gridHeaderCell*/
	{
		background-image: url(header.gif);
		height: 20px;
	}
	.ob_gHContWG td.ob_gHC /*.ob_gridHeaderCell*/
	{
		background-image: url(header_without_grouping.gif);
		height: 20px;
	}
	.ob_gHCont td.ob_gHFCFH /*td.ob_gridHeaderFirstCellForHierarchy*/
	{
		background-image: url(header.gif);
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		*border-left: 0px;
		*border-right: 0px;
		height: 20px;
	}
	.ob_gHContWG td.ob_gHFCFH /*td.ob_gridHeaderFirstCellForHierarchy*/
	{
		background-image: url(header_without_grouping.gif);
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		*border-left: 0px;
		*border-right: 0px;
		height: 20px;
	}
	.ob_gH td table td /*.ob_gridHeader td table td*/
	{											
		border-right: 0px;
		border-bottom: 0px;
		border-left: 0px;
		border-top: 0px;
	}				
	.ob_gHCont td.ob_gCH /*.ob_gridColumnHeader*/
	{
		font-family: Calibri;
		font-size: 11px;
		font-weight: normal;		
		color: #0C416F;
		text-align: left;				
		border:0px;		
		cursor: pointer;
		padding-left: 0px;
		height: 15px;
	}
	.ob_gHContWG td.ob_gCH /*.ob_gridColumnHeader*/
	{
		font-family:Calibri;
		font-size: 11px;
		font-weight: normal;		
		color: #0C416F;
		text-align: left;				
		border:0px;		
		cursor: pointer;
		padding-left: 0px;
		height: 15px;
		padding-bottom: 6px;
	}
	.ob_gHCont td.ob_gHA /*.ob_gridHeaderArrow*/
	{		
		border:0px;		
		cursor: pointer;
		text-align: left;
		width: 100%;
		vertical-align: middle;
		border-top: 0px;
		padding-top: 0px;
	}
	.ob_gHCont td.ob_gHAC /*.ob_gridHeaderArrowCenter*/
	{		
		border:0px;		
		cursor: pointer;
		text-align: left;
		vertical-align: middle;
		border-top: 0px;
		padding-top: 0px;
		padding-left: 8px;
	}
	.ob_gHCont td.ob_gHAR /*.ob_gridHeaderArrowRight*/
	{		
		border:0px;		
		cursor: pointer;
		text-align: left;
		vertical-align: middle;
		border-top: 0px;
		padding-top: 0px;
		padding-left: 8px;
		width: 13px;
	}
	.ob_gHContWG td.ob_gHA /*.ob_gridHeaderArrow*/
	{		
		border:0px;		
		cursor: pointer;
		text-align: left;
		width: 100%;
		vertical-align: middle;
		border-top: 0px;
		padding-top: 0px;
		padding-bottom: 5px;
	}
	.ob_gHContWG td.ob_gHAC /*.ob_gridHeaderArrowCenter*/
	{		
		border:0px;		
		cursor: pointer;
		text-align: left;
		vertical-align: middle;
		border-top: 0px;
		padding-top: 0px;
		padding-bottom: 5px;
		padding-left: 8px;
	}
	.ob_gHContWG td.ob_gHAR /*.ob_gridHeaderArrowRight*/
	{		
		border:0px;		
		cursor: pointer;
		text-align: left;
		vertical-align: middle;
		border-top: 0px;
		padding-top: 0px;
		padding-bottom: 5px;
		padding-left: 8px;
		width: 13px;
	}
	.ob_gHA img /*.ob_gridHeaderArrow img*/
	{
		margin-left: 8px;
		width: 13px;
		height: 16px;
		border: 0px;		
	}	
	.ob_gRB /*.ob_gridResizeButton*/
	{
		font-size: 3px;		
		width: 3px;			
		padding:0px;
		border: 0px;
		margin-left: 0px;
		margin-right: 0px;		
	}
	.ob_gRT /*.ob_gridResizeTooltip*/
	{
		cursor: default;		
		margin: 0px;
		padding: 1px;
		border: 1px solid #000000;
		font-family: Calibri;
		font-size: 10px;
		color: #000000;	
		height: 12px;
		margin-top: 30px;		
		vertical-align: middle;
		background-color: #F5F5DC;
	}
	.ob_gRT span /*.ob_gridResizeTooltip span*/
	{
		padding-left: 3px;
	}
	.ob_gBH /*.ob_gridBodyHeader*/
	{	
		display: none;
		height: 0px;		
		font-size: 1px;
	}
	.ob_gBH td /*.ob_gridBodyHeader td*/
	{		
		height: 0px;		
		font-size: 1px;
	}
	.ob_gBH div /*.ob_gridBodyHeader div*/
	{
		height: 0px;		
		font-size: 1px;
	}
	.ob_gHCont td.ob_gDSC /*.ob_gridDummyScrollingColumn*/
	{
		background-image: url(header.gif);
		height: 25px;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		*border-left: 0px;
		*border-right: 0px;
		border-bottom: 1px solid #B9C9D7;
	}
	.ob_gHContWG td.ob_gDSC /*.ob_gridDummyScrollingColumn*/
	{
		background-image: url(header_without_grouping.gif);
		height: 25px;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		*border-left: 0px;
		*border-right: 0px;
		border-bottom: 1px solid #B9C9D7;
	}
	.ob_gDSC div
	{
		font-size: 1px;
		width: 0px;
		height: 20px;
	}	
	
	/*td.ob_gGA .ob_gridGroupingArea
	{
		text-align: left;
		height: 34px;
		border: 0px;
	}*/
	
	/* left corner for grouping area */
	td.ob_gGACnL
	{
		width: 20px;		
		background-image: url(grouping_area_left.gif);
	}
	
	/* main section for grouping area */
	td.ob_gGA
	{
		border:0px solid #FFFFFF;
		background-image: url(grouping_area.gif);
		height: 34px;
	}
	
	/* right corner for grouping area */
	td.ob_gGACnR
	{
		width: 20px;
		background-image: url(grouping_area_right.gif);
	}
	td.ob_gGADC /*.ob_gridGroupingAreaDefaultColumn*/
	{
		font-family: Calibri;
		font-size: 11px;
		font-weight: normal;		
		color: #FFFFFF;
		text-align: left;				
		border:0px solid #FFFFFF;
		height: 34px;	
	}
	.ob_gGDC /*.ob_gridGroupDraggingColumn*/
	{
		font-family: Calibri;
		font-size: 11px;
		font-weight: normal;		
		color: #0C416F;
		text-align: left;				
		border: 1px solid #829fb7;
		padding-left: 20px;
		background-image: url(header_pressed.gif);
		vertical-align: middle;
		height: 25px;		
	}
	
	
	
	/* column in grouping area - container */
	.ob_gGAC /*.ob_gridGroupingAreaColumn*/
	{
		cursor: move;
	}
	
	/* column in grouping area - left side */
	.ob_gGACL
	{
		width: 12px;
		background-image: url(grouping_area_column_left_dragging.gif);
	}
	.ob_gGA .ob_gGACL
	{		
		background-image: url(grouping_area_column_left.gif);
	}
	
	/* column in grouping area - content */
	.ob_gGACM
	{
		height: 21px;
		font-family: Calibri;
		font-size: 10px;
		font-weight: normal;		
		color: #FFFFFF;
		background-image: none;
		overflow: visible;
		white-space: nowrap;
		text-align: center;	
		background-image: url(grouping_area_column_dragging.gif);
	}
	.ob_gGA .ob_gGACM
	{
		height: 34px;
		background-image: url(grouping_area_column.gif);
	}		
	
	/* column in grouping area - right side */
	.ob_gGACR
	{
		width: 12px;
		background-image: url(grouping_area_column_right_dragging.gif);
	}
	.ob_gGA .ob_gGACR
	{
		background-image: url(grouping_area_column_right.gif);
	}
	
	/* column in grouping area - spacer/link between columns*/	
	.ob_gGACS /*.ob_gridGroupingAreaColumnSpacer*/
	{
		height: 34px;
		width: 20px;
		background-image: url(grouping_area_column_spacer.gif);
	}
	
	.ob_gGATA /*.ob_gridGroupingAreaTopArrow*/
	{
		background-image: url(group_arrow_top.gif);
		width: 9px;
		height: 9px;
		font-size: 1px;
		padding: 0px;
	}
	.ob_gGABA /*.ob_gridGroupingAreaBottomArrow*/
	{
		background-image: url(group_arrow_bottom.gif);
		width: 9px;
		height: 9px;
		font-size: 1px;
		padding: 0px;
	}
	.ob_gHCHWG /*ob_gridHeaderColumnHighlightedWhenGrouping*/
	{
		background-image: url(header_pressed.gif);
		height: 25px;
	}
	.ob_gGACHWD /*ob_gridGroupingAreaColumnHighlightedWhenDragging*/
	{
		font-family: Tahoma;
		font-size: 10px;
		font-weight: bold;		
		color: #FFFFFF;
		text-align: center;				
		border: 1px solid #FFFFFF;		
		background-image: none;
		vertical-align: middle;
		background-color: #333333;
		height: 12px;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 10px;
		padding-right: 10px;
		float:left;
		cursor: move;
	}
	.ob_gHCont td.ob_gDGECCFH /*.ob_gridDetailsGridExpanderContainingCellForHeader*/
	{
		font-family: Tahoma;
		font-size: 10px;
		font-weight: bold;
		color: #FFFFFF;
		text-align: left;				
		border:0px solid #FFFFFF;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		*border-left: 0px;
		*border-right: 0px;
		cursor: pointer;
		padding-left: 0px;
		background-image: url(header.gif);
		height: 25px;
		padding: 0px;
	}
	.ob_gHContWG td.ob_gDGECCFH /*.ob_gridDetailsGridExpanderContainingCellForHeader*/
	{
		font-family: Tahoma;
		font-size: 10px;
		font-weight: bold;
		color: #FFFFFF;
		text-align: left;				
		border:0px solid #FFFFFF;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		*border-left: 0px;
		*border-right: 0px;
		cursor: pointer;
		padding-left: 0px;
		background-image: url(header_without_grouping.gif);
		height: 25px;
		padding: 0px;
	}
	.ob_gHTLRV
	{
		visibility: hidden;
		*display: none;
	}
	.ob_gHTLR
	{
		display: none;
	}
	td.ob_gHTLRC
	{
		font-size: 0px; 
		height: 0px;
		padding: 0px;
		margin:0px;
		border-top: 0px;
		border-bottom: 0px;
	}
	
	
	/* container for the header line containing the round corners */
	.ob_gHCnC
	{
		width: 100%;
		height: 7px;
		font-size: 1px;
	}
	.ob_gHCnCWG
	{
		display: none;
	}
	.ob_gHCnC table
	{
		width: 100%;
		height: 7px;
	}
	
	/* left corner for header */
	.ob_gHCnL
	{
		background-image: url(header_corner_left.gif);
		height: 7px;
		width: 20px;
		font-size: 1px;
		background-repeat: no-repeat;
	}
	
	/* space between corners for header */
	.ob_gHCnM
	{
		height: 7px;
		background-image: url(header_corner_middle.gif);
		font-size: 1px;
		background-repeat: repeat-x;
	}
	
	/* right corner for header */
	.ob_gHCnR
	{
		background-image: url(header_corner_right.gif);
		height: 7px;
		width: 20px;
		font-size: 1px;
		background-repeat: no-repeat;
	}
	
	
	
	
	
	/* Styles for the Body */
	.ob_gBCont
	{
		overflow: auto;
		overflow-x: hidden;
		border-left: 1px solid #C3C9CE;
		border-right: 1px solid #C3C9CE;
		position: relative;
	}
	.ob_gBody
	{
		empty-cells: show;
		overflow: hidden;
		table-layout: fixed;
		*table-layout: auto;
	}
	
	
	
	.ob_gRGH /*.ob_gridRecordGroupHeader*/
	{
		background-image: url(record_group_header.gif);
		height: 25px;
	}
	
	.ob_gRGHC /*.ob_gridRecordGroupHeaderCell*/
	{
		cursor: default;
		margin: 0px;
		padding-right: 0px;		
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-left: 0px solid #7BB8D9;
		border-top: 0px solid #7BB8D9;
		border-bottom: 0px solid #4783A7;
		border-right: 0px solid #7BB8D9;
		font-family: Calibri;
		font-size: 10px;
		color: #d9e6f1;	
		height: 25px;	
		vertical-align: middle;
		font-weight: normal;
		cursor: pointer;
		border: 0px;
	}
	td.ob_gRGHB /*.ob_gridRecordGroupButton*/
	{	
		padding: 0px;
		padding-left: 0px;
		padding-right: 3px;	
		text-align: center;
		white-space: nowrap;
		vertical-align: top;
		height: 25px;
		font-size: 1px;
	}	
	.ob_gRGHB img /*.ob_gridRecordGroupButton img*/
	{
		height: 25px;
		cursor: pointer;
		margin: 0px;
		font-size: 1px;
	}
	.ob_gRGBS /*.ob_gridRecordGroupButtonSpacer*/
	{
		width: 17px;
		font-size: 1px;
		text-align: right;
		background-image: url(record_group_header_padding.gif);
	}
	.ob_gRGBS div
	{
		background-image: url(record_group_header_padding_right.gif);
		height: 25px;
		width: 5px;
		margin-left: 12px;
	}
	
	
	
	.ob_gRGF /*.ob_gridRecordGroupFooter*/
	{
		background-image: url(group_summary.gif);
		color: #0C416F;
		font-family: Calibri;
		font-size: 10px;
	}
	.ob_gRGF td.ob_gC
	{
		border-left: 1px solid #91afca;
	}
	.ob_gR /*.ob_gridRecord*/
	{
		background-image: url(row1.gif);
		background-repeat:repeat-x;
		background-position:bottom;
		background-color:#f6f7f7;
		color: #4B555E;
	}
	.ob_gRA /*.ob_gridRecordAlternate*/
	{
		background-image: url(row2.gif);
		background-repeat:repeat-x;
		background-position:bottom;
		background-color:#ebecec;
		color: #4B555E;
	}		
	.ob_gRS /*.ob_gridRecordSelected*/
	{
		background-image: url(row_selected.gif);
		background-repeat:repeat-x;
		background-position:bottom;
		background-color:#cfd3da;
		color: #1d2128;
	}
	.ob_gRH /*.ob_gridRecordHover*/
	{
		background-image: url(row_hover.gif);
		background-repeat:repeat-x;
		background-position:bottom;
		background-color:#e2eaf3;
		color: #0c416f;
	}
	.ob_gCP /*.ob_gridCellPadding*/
	{
		width: 14px;
		float: left;
		font-size: 1px;
		display: none;
	}
	.ob_gC /*.ob_gridCell*/
	{
		cursor: default;
		margin: 0px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-left: 1px solid #C3C9CE;
		border-right: 1px solid transparent;
		*border-right: 0px solid transparent;
		border-bottom: 0px solid #C3C9CE;
		font-family: Calibri;
		font-size: 10px;
		height: 25px;	
		vertical-align: middle;		
	}
	.ob_gC1 /*.ob_gridFirstCell*/
	{
		cursor: default;
		margin: 0px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-left: 1px solid transparent;
		*border-left: 0px;		
		border-right: 1px solid transparent;
		*border-right: 0px;
		border-bottom: 0px solid #C3C9CE;
		font-family:Calibri;
		font-size: 10px;
		height: 20px;	
		vertical-align: middle;		
	}
	
	.ob_gR td.ob_gC
	{
		height: 20px;
	}
	.ob_gR td.ob_gC1
	{
		height: 20px;
	}
	.ob_gIE /*.ob_gridInvisibleElement*/
	{
		display: none;
	}
	.ob_gRC /*.ob_gridResizableContent*/
	{
		overflow: hidden;		
		white-space: nowrap;
		padding-left: 5px;
	}
	.ob_gRCW /*.ob_gridResizableContentWithWrap*/
	{
		overflow: hidden;		
		white-space: normal;
		padding-left: 5px;
	}
	.ob_gRCFFC /*.ob_gridResizableContentForFirstColumn*/
	{
		overflow: hidden;
		white-space: nowrap;
		padding-left: 0px;
	}
	.ob_gRCP /*.ob_gridResizableContentPadding*/
	{
		overflow: hidden;		
		white-space: nowrap;
		padding-left: 20px;
	}
	.ob_gSA /*.ob_gridSelectionArea*/
	{
		background-color: #F6F7F7;
		border: 1px solid #4B555E;
		font-size: 1px;
		z-index: 0;
	}
	a.ob_gAL /*a.ob_gridActionLink*/
	{
		font-family: Calibri;
		font-size: 10px;
		color: #0C416F;
		font-weight: normal;
		text-decoration:none;
	}
	a.ob_gAL:hover /*a.ob_gridActionLink:hover*/
	{
		font-family: Calibri;
		font-size: 10px;
		color: #0C416F;
		font-weight: normal;				
		text-decoration:underline;		
	}		
	.ob_gL /*.ob_gridLoading*/
	{		
		padding: 3px; 		
		font-family: Calibri;
		font-size: 10px;
		color:#0C416F;
		border: 0px;
		background-color: #F6F7F7;
	}	
	.ob_gNRM /*.ob_gridNoRecordsMessage*/
	{
		font-family: Calibri;
		font-size: 10px;
		border: 0px;			
		background-image: url(row1.gif);
		background-repeat:repeat-x;
		background-position:bottom;
		background-color:#f6f7f7;
		color: #4B555E;
		height: 20px;
		border-bottom: 1px solid #C3C9CE;
	}	
	.ob_gEC /*.ob_gridEditControl*/
	{
		padding: 0px;
		font-family: Calibri;
		font-size: 10px;
		color: #202426;			
		background-color: #FFFFFF;
		width: 96%;
		border: 1px solid #196585;
	}	
	.ob_gRL /*.ob_gridResizeLines*/
	{
		background-color: #B9C9D7;
		width: 1px;
	}	
	.ob_gD /*.ob_gridData*/
	{
		display: none;
	}
	.ob_gRETpl /*.ob_gridRowEditTemplate*/
	{
		font-family: Calibri;
		font-size: 10px;
		color: #196585;
		padding: 15px;
		border-top: 1px solid #c3c9ce;
		border-bottom: 1px solid #c3c9ce;
		background-image:url(form_bgr.gif);
		background-repeat:repeat-x;
		background-position:top;
		background-color: #ebecec;
	}
	.ob_gCTA /*.ob_gridCellTemporaryAdded*/
	{
		cursor: default;
		padding:0px;
		font:10px Calibri;
		height: 24px;	
		vertical-align: middle;	
		color: #1f822d;
		border-left: 1px solid #C3C9CE;
	}
	.ob_gCTE /*.ob_gridCellTemporaryEdited*/
	{
		cursor: default;
		padding:0px;
		font:10px Calibri;
		height: 24px;	
		vertical-align: middle;	
		color: #91052c;	
		border-left: 1px solid #C3C9CE;	
	}
	.ob_gCTD /*.ob_gridCellTemporaryDeleted*/
	{
		cursor: default;
		padding:0px;
		border-left: 1px solid #C3C9CE;
		font: 10px Calibri;
		height: 24px;	
		vertical-align: middle;	
		color: #4b555e;			
		text-decoration: line-through;
		border-left: 1px solid #C3C9CE;
	}
	.ob_gDGC /*.ob_gridDetailsGridContainer*/
	{
		background-color: #F6F7F7;
	}	
	.ob_gDGLS /*.ob_gridDetailsGridLeftSpacer*/
	{		
		width: 0px;
	}	
	.ob_gDGLS div /*.ob_gridDetailsGridLeftSpacer div*/
	{		
	}
	.ob_gDGECC /*.ob_gridDetailsGridExpanderContainingCell*/
	{
		cursor: default;
		margin: 0px;
		padding-right: 0px;		
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 1px;
		border-left: 0px solid #D0EDF5;
		border-right: 0px solid #D0EDF5;
		border-top: 0px;
		font-family: Calibri;
		font-size: 10px;
		color: #FFFFFF;	
		height: 25px;	
		vertical-align: middle;
		text-align: left;		
	}
	.ob_gDGECC img
	{
		width: 19px;
	}
	.ob_gDGEC /*.ob_gridDetailsGridExpanderContainer*/
	{		
		cursor: pointer;
	}
	.ob_gDGCCT
	{
		border: 0px solid #FFFFFF;
		margin-left: 20px;
	}
	.ob_gBTLRV
	{
		*display: none;
		visibility: hidden;
	}
	.ob_gBTLR
	{
		*display: none;
		visibility: hidden;
	}
	td.ob_gBTLRC
	{
		font-size: 0px; 
		height: 0px;
		padding: 0px;
		margin:0px;
		border-top: 0px;
		border-bottom: 0px;
		border-left: 1px solid #7BB8D9;
		border-right: 1px solid transparent;
		*border-right: 0px solid transparent;
		visibility: hidden;
	}
	
	
		
	
		
	/* Styles for the Footer */
	.ob_gFCont /*.ob_gridFooterContainer*/
	{
		border-left: 1px solid #C3C9CE;
		border-right: 1px solid #C3C9CE;
		overflow: hidden;
	}
	.ob_gF /*.ob_gridFooter*/
	{
		background-image: url(footer.gif);
		background-repeat: repeat-x;
		position: relative;
	}	
	.ob_gFContent /*.ob_gridFooterContent*/
	{		
		background-image: url(footer.gif);
		padding: 1px;
		margin-top: 0px;
		border: 0px;
		height: 27px;
		padding-left: 20px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.ob_gFContentT	
	{
	}
	.ob_gF td /*.ob_gridFooter td*/
	{		
		cursor: default;
		padding-bottom: 0px;
		font-family: Calibri;
		font-size: 10px;
		color: #4B555E;
		border-top: 0px solid #EDEEEF;
		white-space: nowrap;
	}
	.ob_gFSR /*.ob_gridFooterScrollerRow*/
	{
		height: 20px;
	}
	.ob_gFSR td
	{
		height: 20px;
		padding: 0px;
	}
	.ob_gFSR td div
	{
		height: 20px;
	}
	.ob_gCFRT /*.ob_gridColumnsFooterRowTable*/
	{
		table-layout: fixed;
		*table-layout: auto;
		empty-cells: show;
		background-image: url(summary.gif);
	}
	.ob_gCFR /*.ob_gridColumnsFooterRow*/
	{
		
	}
	.ob_gCFR td
	{
		font-family: Calibri;
		font-size: 10px;
		color: #0C416F;
	}
	.ob_gCFR td.ob_gC
	{
		border-left: 1px solid #91afca;
	}
	.ob_gCFR td.ob_gDGECC /*.ob_gridDetailsGridExpanderContainingCell*/
	{
		cursor: default;
		margin: 0px;
		padding-right: 0px;		
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-left: 1px solid #BEE3F3;
		border-top: 0px;
		border-bottom: 0px;
		border-right: 1px solid transparent;
		*border-right: 0px;
		font-family: Calibri;
		font-size: 10px;
		color: #FFFFFF;	
		height: 24px;	
		vertical-align: middle;
	}
	.ob_gBF /*.ob_gridBodyFooter*/
	{			
		display: none;
		height: 0px;		
		font-size: 1px;
	}
	.ob_gBF td /*.ob_gridBodyFooter td*/
	{		
		height: 0px;		
		font-size: 1px;
	}	
	.ob_gBF div /*.ob_gridBodyFooter div*/
	{
		height: 0px;		
		font-size: 1px;
	}
	.ob_gF td table td /*.ob_gridFooter td table td*/
	{
		border-top: 0px;		
		vertical-align: middle;
	}
	.ob_gridPageSelection
	{		
		padding-top: 4px;
		vertical-align: bottom;
	}
	
	
	
	/* page size selector */
	.ob_gPST /*.ob_gridPageSizeText*/
	{
		padding-top: 4px;
	}
	.ob_gPST td.ob_gPSTT
	{
		
	}
	.ob_gPST td.ob_gPSTD
	{
		padding-left: 7px;
		width: 60px;
	}
	
	
	
	a.ob_gALF /*a.ob_gridActionLinkFooter*/
	{
		font-family: Calibri;
		font-size: 10px;
		color: #0C416F;
		font-weight: normal;
		text-decoration:none;
	}
	a.ob_gALF:hover /*a.ob_gridActionLinkFooter:hover*/
	{
		font-family: Calibri;
		font-size: 10px;
		color: #0C416F;
		font-weight: normal;				
		text-decoration: underline;		
	}	
	.ob_gA_FS /*.ob_gridAdd_FilterSpacer*/
	{
		width: 30px;
		text-align: center;
	}
	td.ob_gFRP /*ob_gridFooterRecordsPages*/
	{
	}
	.ob_gPC /*.ob_gridPagingContainer*/
	{
		padding-right: 17px;
	}
	.ob_gF td table td.ob_gFPLC /*.ob_gridFooterPagingLinksContainer*/
	{
		white-space: nowrap;
		vertical-align: middle;
		padding-left: 2px;
		padding-right: 2px;
	}
	.ob_gNL /*.ob_gridNavigationLink*/
	{
		font:normal 11px Calibri;
		color:#44556d;
		text-decoration: none;
		cursor: pointer;
		padding:1px 3px 1px 3px;
		border: 1px solid #9cafbd;
		margin-left: 2px;
		margin-right: 2px;
		background-image:url(page_number_normal.gif);
	}
	.ob_gNLH /*.ob_gridNavigationLinkHover*/ 
	{
		font:normal 11px Calibri;
		color:#0c416f;
		text-decoration: none;
		cursor: pointer;
		padding:1px 3px 1px 3px;
		border: 1px solid #829fb7;
		margin-left: 2px;
		margin-right: 2px;
		background-image:url(page_number_over.gif);
	}
	.ob_gNS /*.ob_gridNavigationSeparator*/
	{
		font-family: Calibri;
		font-size: 11px;
		color:#44556D;
		font-weight: normal;
		text-decoration:none;
		cursor: default;
		padding-left: 2px;
		padding-right: 2px;
		display: none;
	}
	.ob_gNT /*.ob_gridNavigationText*/
	{
		font-family: Calibri;
		font-size: 11px;
		color:#44556D;
		font-weight: normal;		
		cursor: default;
		padding-left: 2px;
		padding-right: 2px;
		padding-top: 1px;
		padding-bottom: 1px;
		margin-left: 3px;
		margin-right: 3px;
		margin-bottom: 1px;
		*margin-bottom: 3px;
	}
	.ob_gNIC /*.ob_gridNavigationImageContainer*/
	{
	}
	.ob_gNI /*.ob_gridNavigationImage*/
	{
		vertical-align: middle;
		padding: 0px;
		padding-left: 2px;
		padding-right: 2px;
		cursor: pointer;
	}
	
	
	
	.ob_gHFFC /*.ob_gridHeaderFilterFirstCell*/
	{
		background-image: url(filter.gif);
		font-family: Calibri;
		font-size: 10px;
		margin: 0px;				
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		border-top: 1px solid #D0EDF5;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		*border-left: 0px;
		*border-right: 0px;
		color: #FFFFFF;
		height: 50px;
	}
	.ob_gHFFC div.ob_gRC
	{
		padding: 0px;
		margin: 0px;
		padding-right: 2px;
		padding-left: 0px;				
	}
	.ob_gHFFC td.ob_gHFCCCD
	{
		padding-top: 1px;
		padding-bottom: 1px;
		padding-left: 19px;
		*padding-right: 2px;
	}
	.ob_gHFFC td.ob_gHFCCCT
	{
		padding-top: 1px;
		padding-bottom: 1px;
		padding-left: 19px;
		*padding-right: 2px;
	}
	
	.ob_gHFC /*.ob_gridHeaderFilterCell*/
	{
		background-image: url(filter.gif);
		font-family: Calibri;
		font-size: 10px;
		margin: 0px;				
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		border-top: 1px solid #D0EDF5;
		border-left: 1px solid #C3C9CE;
		border-right: 1px solid transparent;
		*border-right: 0px;
		color: #FFFFFF;
		height: 50px;
	}
	.ob_gHFC div.ob_gRC
	{
		padding: 0px;
		margin: 0px;
		padding-right: 2px;
		padding-left: 0px;
	}
	.ob_gHFC td.ob_gHFCCCD
	{
		padding-top: 1px;
		padding-bottom: 1px;
		padding-left: 19px;
		*padding-right: 2px;
	}
	.ob_gHFC td.ob_gHFCCCT
	{
		padding-top: 1px;
		padding-bottom: 1px;
		padding-left: 19px;
		*padding-right: 2px;
	}
	
	
	
	.ob_gFDiv
	{
		overflow: hidden;
		padding: 0px;
		margin: 0px;
	}
	.ob_gEwO /*.ob_gridElementWithOverflow*/
	{
		overflow: hidden;
		position: relative;
	}
	.ob_gFTC
	{
		table-layout: fixed;
		*table-layout: auto;
		empty-cells: show;
	}
	.ob_gDFSC /*.ob_gridDummyFilterScrollingColumn*/
	{
		background-color: #E3F6FD;
	}
	.ob_gDFSC div
	{
		font-size: 1px;
		width: 0px;
	}	
	.ob_gTNOP /*.ob_gridTotalNumberOfPages*/
	{
		padding-left: 3px;
		padding-right: 3px;
	}
	.ob_gMPS /*.ob_gridManualPagingSection*/
	{
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.ob_gMPS table td /*.ob_gridManualPagingSection table td*/
	{
		padding-left: 5px;
	}
	
	.ob_gMPS table td input /*.ob_gridManualPagingSection table td input*/
	{
		width: 20px;
	}
	
	
	/* container for the footer line containing the round corners */
	.ob_gFCnC
	{
		width: 100%;
		height: 7px;
	}
	.ob_gFCnC table
	{
		width: 100%;
		height: 7px;
	}
	
	/* left corner for footer */
	.ob_gFCnL
	{
		
		height: 3px;
		/*background-image: url(footer_corner_left.gif);
		width: 20px;
		font-size: 1px;
		background-repeat: no-repeat;*/
	}
	
	/* space between corners for footer */
	.ob_gFCnM
	{
		height: 3px;
		/*background-image: url(footer_corner_middle.gif);
		background-repeat: repeat-x;
		font-size: 1px;*/
	}
	
	/* right corner for footer */
	.ob_gFCnR
	{
		
		height: 3px;
		/*background-image: url(footer_corner_right.gif);
		width: 20px;
		font-size: 1px;
		background-repeat: no-repeat;*/
	}
}

@media print 
{
	
}