﻿@model BrokerOffice.Models.Order_Live

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order_Live</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CDS_AC_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CDS_AC_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Broker_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Broker_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shareholder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shareholder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalShareHolding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalShareHolding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Create_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deal_Begin_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deal_Begin_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expiry_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expiry_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableShares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableShares)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderPref)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderPref)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderAttribute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderAttribute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marketboard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marketboard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeInForce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeInForce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderQualifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderQualifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrokerRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrokerRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContraBrokerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContraBrokerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiniPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiniPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flag_oldorder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flag_oldorder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TPBoard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TPBoard)
        </dd>

    </dl>
</div>
<p>
    <a href='~/ClientServices/OrderPosting.aspx?id=@Convert.ToInt32(Model.OrderNo)'>
        <i class="glyphicon glyphicon-pencil">Edit</i>

    </a>
  |
    @Html.ActionLink("Back to List", "Index")
</p>
