﻿@model PagedList.IPagedList<BrokerOffice.Models.Order_Live>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}








<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Orders</l>
    </div>
    <table class="table">
        <tr>
            <th>
              OrderType
            </th>
            <th>
             Company
            </th>
            
            <th>
                @Html.ActionLink("Customer Number", "Index", new { sortOrder = ViewBag.CustomerSortParm })
            </th>
            
            <th>
               Client_Type
            </th>
            <th>
                @Html.ActionLink("Date Added", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
         
          
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.CDS_AC_No)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Client_Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Create_date)
                </td>
                <td>
                    @*<a href='~/ClientServices/OrderPosting.aspx?id=@Convert.ToInt32(item.OrderNo)'>
                        <i class="glyphicon glyphicon-pencil"></i>

                    </a>*@
                    |
                    <a href="@Url.Action("Details", new { id =item.OrderNo})">
                        <i class="glyphicon glyphicon-file"></i>

                    </a>
                    |
                    @*<a href="@Url.Action("Delete", new { id = item.OrderNo })">
                        <i class="glyphicon glyphicon-trash"></i>

                    </a>*@
                </td>
                
           
            </tr>
        }

    </table>
    </div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
    @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))