﻿@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}



<div style="background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Deals Upload</l>
    </div>
    @using (Html.BeginForm("Upload", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table>
          
            <tr>
                <td>Select a Date:</td>
                <td>
                    @Html.JQueryUI().Datepicker("DD").ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
                    
                 </td>
            </tr>
            <tr>
                <td>File:</td>
                <td>
                    <input class="btn btn-primary" type="file" name="FileUpload" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="btn btn-primary" name="Submit" value="Submit" />
                </td>
            </tr>
        </table>
    }



</div>

