﻿@model PagedList.IPagedList<BrokerOffice.Models.Accounts_Master>
@using PagedList.Mvc;
@using WebMatrix.WebData
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin2"))
    {
        Layout = "~/Views/Shared/_BrokerAdmin2Layout.cshtml";
    }
}


<a class="btn btn-primary" href="~/Accounting/Account_Master.aspx">
   Create New

</a>

<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Accounts Master</l>
    </div>
    <table class="table">
        <tr>
            <th>
    
                @Html.ActionLink("Account Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
               
                @Html.ActionLink("Account Number", "Index", new { sortOrder = ViewBag.AccountNumberSortParm })
            </th>
            <th>
              GroupID
            </th>
            <th>
                @Html.ActionLink("Group Name", "Index", new { sortOrder = ViewBag.GroupNameSortParm })
            </th>
         
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GL_GroupID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
         
                <td>
                    <a href='~/Accounting/Account_Master.aspx?id=@Convert.ToInt32(item.Accounts_MasterID)'>
                        <i class="glyphicon glyphicon-pencil"></i>

                    </a>
                    |
                    <a href="@Url.Action("Details", new { id =item.Accounts_MasterID})">
                        <i class="glyphicon glyphicon-file"></i>

                    </a>
                    |
                    @*<a href="@Url.Action("Delete", new { id = item.Accounts_MasterID })">
                        <i class="glyphicon glyphicon-trash"></i>

                    </a>*@
                </td>
            </tr>
        }

    </table>
    </div>
 Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))
