﻿@model BrokerOffice.Models.tblFinAccountGroups

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblFinAccountGroups</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblBalanceType.BalanceTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblBalanceType.BalanceTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FinAccountGroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
