﻿@model IEnumerable<BrokerOffice.Models.tblFinAccountGroups>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@*<h2>Index</h2>*@

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblBalanceType.BalanceTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountTypeName)
             
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblBalanceType.BalanceTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FinAccountGroupId }) 
            @*|
            @Html.ActionLink("Details", "Details", new { id=item.FinAccountGroupId })*@ 
            @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.FinAccountGroupId })*@
        </td>
    </tr>
}

</table>
