	/* Top Container - Left */
	.ob_iDdlTL
	{
		position: absolute;
    	font-size: 1px;
    	height: 17px;
    	width: 4px;
    	left: 0px;
    	cursor: pointer;
    	background-image: url(images/horizontal.png);
	}
	
	* HTML .ob_iDdlTL
	{
	    -background-image: url(images/horizontal.gif);
	}
	
	/* Top Container - Content */
	.ob_iDdlTC
	{
		height: 17px;
		line-height: 17px;
		cursor: pointer;
		margin-left: 4px;
		margin-right: 18px;
		position: relative;
		background-image: url(images/vertical.png);
	}
	
	* HTML .ob_iDdlTC
	{
	    -background-image: url(images/vertical.gif);
	}
	
	/* Top Container - Right */
	.ob_iDdlTR
	{
		position: absolute;    	
    	font-size: 1px;
    	height: 17px;
		width: 18px;
		right: 0px;
		cursor: pointer;
		background-image: url(images/horizontal.png);
	}
	
	* HTML .ob_iDdlTR
	{
	    -background-image: url(images/horizontal.gif);
	}
	
	/* Input Element */
	.ob_iDdlIE
	{
		width: 100%;
		position: absolute;
		left: 0px;
		right: 0px;
		top:0px;
		display: block;
    	background-color: transparent;
    	border: 0px;
    	margin: 0px;
    	padding: 0px;    	
    	margin-top: 2px !important;
    	font-family: Verdana !important;
		font-size: 10px !important;
		color: #4B555E !important;
		height: 14px !important;
		cursor: pointer;
	}
	
	.ob_iDdlCIC
	{
		display: none;
	}
	
	
	
	
	
	/* Normal State - top container */
	.ob_iDdlITCN
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* Normal State - top container - left */
	.ob_iDdlITCN .ob_iDdlTL
	{
		background-position: 0px 0px;
	}
	
	/* Normal State - top container - content */
	.ob_iDdlITCN .ob_iDdlTC
	{
		background-position: 0px 0px;
	}
		
	/* Normal State - top container - right */
	.ob_iDdlITCN .ob_iDdlTR
	{
		background-position: -4px 0px;
	}
	
	
	
	
	
	/* Over State - top container */
	.ob_iDdlITCO
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* Over State - top container - left */
	.ob_iDdlITCO .ob_iDdlTL
	{
		background-position: -22px 0px;
	}
	
	/* Over State - top container - content */
	.ob_iDdlITCO .ob_iDdlTC
	{
		background-position: 0px -17px;
	}
		
	/* Over State - top container - right */
	.ob_iDdlITCO .ob_iDdlTR
	{
		background-position: -26px 0px;
	}
	
	
	
	
	
	/* ActiveClosed State - top container */
	.ob_iDdlITCAC
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* ActiveClosed State - top container - left */
	.ob_iDdlITCAC .ob_iDdlTL
	{
		background-position: -44px 0px;
	}
	
	/* ActiveClosed State - top container - content */
	.ob_iDdlITCAC .ob_iDdlTC
	{
		background-position: 0px -34px;
	}
		
	/* ActiveClosed State - top container - right */
	.ob_iDdlITCAC .ob_iDdlTR
	{
		background-position: -48px 0px;
	}
	
	
	
	
	
	/* ActiveOpen State - top container */
	.ob_iDdlITCAO
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* ActiveOpen State - top container - left */
	.ob_iDdlITCAO .ob_iDdlTL
	{
		background-position: -66px 0px;
	}
	
	/* ActiveOpen State - top container - content */
	.ob_iDdlITCAO .ob_iDdlTC
	{
		background-position: 0px -51px;
	}
		
	/* ActiveOpen State - top container - right */
	.ob_iDdlITCAO .ob_iDdlTR
	{
		background-position: -70px 0px;
	}
	
	
	
	
	
	/* Disabled State - top container */
	.ob_iDdlITCD
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* Disabled State - top container - left */
	.ob_iDdlITCD .ob_iDdlTL
	{
		background-position: -88px 0px;
	}
	
	/* Disabled State - top container - content */
	.ob_iDdlITCD .ob_iDdlTC
	{
		background-position: 0px -68px;
	}
		
	/* Disabled State - top container - right */
	.ob_iDdlITCD .ob_iDdlTR
	{
		background-position: -92px 0px;
	}
	
	
	
	
	
	/* items container */
	.ob_iDdlIC
	{
		height: auto;
		font-size: 10px;
		position: absolute;
		top:18px;
		left:0px;
		margin-bottom: 1px;
		visibility: hidden;
		z-index: 9999;
	}
	
	/* items container iframe*/
	.ob_iDdlICIF
	{
		font-size: 10px;
		position: absolute;
		top:18px;
		left:0px;
		margin-top: 0px;
		margin-bottom: 1px;
		z-index: 9998;
	}
	
	
	
	/* items container - header */
	.ob_iDdlICH
	{
		position: relative;
    	height: 6px;
    	font-size: 1px;
	}
	
	/* items container - header - left side */
	.ob_iDdlICHCL
	{
		position: absolute;
    	width: 6px;
    	height: 6px;
    	top: 0px;
    	left: 0px;
		background-image: url(images/drop-down-horizontal.png);
		background-repeat: no-repeat;
		background-position: 0px 0px;
	}
	
	* HTML .ob_iDdlICHCL
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	/* items container - header - middle content */
	.ob_iDdlICHCM
	{
		height: 6px;
    	margin-left: 6px;
	    margin-right: 6px;
		background-image: url(images/drop-down-horizontal.png);
		background-repeat: repeat-x;
		background-position: 0px -118px;
	}
	
	* HTML .ob_iDdlICHCM
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	/* items container - header - right side */
	.ob_iDdlICHCR
	{
		position: absolute;
    	width: 6px;
    	height: 6px;
    	top: 0px;
    	right: 0px;
		background-image: url(images/drop-down-horizontal.png);
		background-repeat: no-repeat;
		background-position: 0px -50px;
	}
	
	* HTML .ob_iDdlICHCR
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	
	
	/* items container - body */
	.ob_iDdlICB
	{
		position: relative;
    	height: 100%;
    	font-size: 1px;
	}
	
	
	/* items container - body left side */
	.ob_iDdlICBL
	{
		position: absolute;
    	width: 6px;
    	height: 100%;
    	top: 0px;
    	left: 0px;
		background-image: url(images/drop-down-vertical.png);
		background-position: 0px 0px;
		overflow: hidden;
	}
	
	* HTML .ob_iDdlICBL
	{
	    -background-image: url(images/drop-down-vertical.gif);
	}
	
	.ob_iDdlICBLI
	{
		position: absolute;
    	width: 6px;
    	height: 44px;
    	top: 0px;
    	left: 0px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -6px;
	}
	
	* HTML .ob_iDdlICBLI
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	
	/* items container - body right side */
	.ob_iDdlICBR
	{
		position: absolute;
    	width: 6px;
    	height: 100%;
    	top: 0px;
    	right: 0px;
		background-image: url(images/drop-down-vertical.png);
		background-position: -6px 0px;
		overflow: hidden;
	}
	
	* HTML .ob_iDdlICBR
	{
	    -background-image: url(images/drop-down-vertical.gif);
	}
	
	.ob_iDdlICBRI
	{
		position: absolute;
    	width: 6px;
    	height: 44px;
    	top: 0px;
    	right: 0px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -56px;
	}
	
	* HTML .ob_iDdlICBRI
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
		
	
	
	/* items container - body content*/
	.ob_iDdlICBC
	{
		position: relative;
    	width: auto;
    	height: 100%;
    	min-height: 156px;
    	overflow: auto;
    	margin-left: 6px;
	    margin-right: 6px;
	    background-image: url(images/drop-down-horizontal.png);
	    background-position: 0px -124px;
    	background-repeat: repeat-x;
	    background-color: #dfe1e2;
	    font-size: 10px;
	}
	
	* HTML .ob_iDdlICBC
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	
	
	/* items container - item */
	.ob_iDdlICBC div.i
	{
		position: relative;
    	font-family: Verdana;
	    font-size: 10px;
	    color: #4B555E;
	    width: auto;
	    cursor: pointer;
	    height: 17px;
	}
	
	.ob_iDdlICBC div.ih
	{
		position: relative;
    	font-family: Verdana;
	    font-size: 10px;
	    color: #0C416F;
	    width: auto;
	    cursor: pointer;
	    height: 17px;
	}
	
	/* items container - item - left */
	.ob_iDdlICBC div.l
	{
		position: absolute;
    	width: 14px;
    	height: 17px;
    	left: 0px;
    	top: 0px;
	}
	.ob_iDdlICBC div.ih div.l
	{
    	background-image: url(images/lighted.png);
    	background-position: 0px 0px;
		background-repeat: no-repeat;
	}
	
	* HTML .ob_iDdlICBC div.ih div.l
	{
	    -background-image: url(images/lighted.gif);
	}
	
	/* items container - item - text */
	.ob_iDdlICBC div.t
	{
		position: relative;
    	width: auto;
    	height: 17px;
    	margin-left: 14px;
    	margin-right: 10px;
    	padding-left: 3px;
	}
	.ob_iDdlICBC div.ih div.t
	{
    	background-image: url(images/lighted.png);
		background-repeat: repeat-x;
		background-position: 0px -34px;
	}
	
	* HTML .ob_iDdlICBC div.ih div.t
	{
	    -background-image: url(images/lighted.gif);
	}
	
	.ob_iDdlICBC div.t div
	{
		position: absolute;
        margin-top: 2px;
	}
	
	/* items container - item - right */
	.ob_iDdlICBC div.r
	{
		position: absolute;
    	width: 14px;
    	height: 17px;
    	right: 0px;
    	top: 0px;
	}
	.ob_iDdlICBC div.ih div.r
	{
		background-image: url(images/lighted.png);
    	background-position: 0px -17px;
	}
	
	* HTML .ob_iDdlICBC div.ih div.r
	{
	    -background-image: url(images/lighted.gif);
	}
	
	.ob_iDdlICBC div.v
	{
		display: none;
	}
	
	
	
	/* items container - footer */
	.ob_iDdlICF
	{
		position: relative;
    	height: 6px;
    	font-size: 1px;
	}
	
	/* items container - footer - left side */
	.ob_iDdlICFCL
	{
		position: absolute;
    	width: 6px;
    	height: 6px;
    	top: 0px;
    	left: 0px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -100px;
		background-repeat: no-repeat;
	}
	
	* HTML .ob_iDdlICFCL
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	/* items container - footer - middle content */
	.ob_iDdlICFCM
	{
		height: 6px;
    	margin-left: 6px;
	    margin-right: 6px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -106px;
		background-repeat: repeat-x;
	}
	
	* HTML .ob_iDdlICFCM
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}
	
	/* items container - footer - right side */
	.ob_iDdlICFCR
	{
		position: absolute;
    	width: 6px;
    	height: 6px;
    	top: 0px;
    	right: 0px;
		background-image: url(images/drop-down-horizontal.png);
		background-position: 0px -112px;
		background-repeat: no-repeat;
	}
	
	* HTML .ob_iDdlICFCR
	{
	    -background-image: url(images/drop-down-horizontal.gif);
	}