﻿@model PagedList.IPagedList<BrokerOffice.Models.BatchHeader>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}




<script type="text/javascript">
    function onSubmitClick() {
        $('#myForm input[name="DXScript"]').remove();
        $('#myForm input[name="DXCss"]').remove();

    }
</script>




@using (Html.BeginForm("Index", "BatchHeadersApprove", FormMethod.Get, new { Id = "myForm", style = "margin: 0px; " }))
{
    <div style="background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Search</l>
        </div>
        
        <table class="table-striped">
            <tr>
                <td>

                    <div class="col-md-4">
                        Batch Number/Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as
                                 string)

                    </div>


                </td>
                <td>
                    <div class="col-md-4">
                        <input type="submit" onclick="onSubmitClick();" class="btn btn-warning" value="Search" />
                    </div>
                </td>
                <td></td>
            </tr>

        </table>




    </div>




}



<div style="margin-left:5%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Batch Header</l>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Batch No", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })


            </th>
            <th>
                BatchType
            </th>
            <th>
                Amount
            </th>
            <th>
               Number Transactions
            </th>
            <th>
               Created By
            </th>
            <th>
                @Html.ActionLink("Date Created", "Index", new { sortOrder = ViewBag.ModuleSortParm, currentFilter = ViewBag.CurrentFilter })


            </th>
            <th>
               Status
            </th>
            <th>
                Batch Name
            </th>
            <th>
               Batch Date
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfTrxns)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchDate)
                </td>
                <td>
                    @if (item.Auth == false)
                    {
                    @Html.ActionLink("Edit", "Edit", new { id = item.id })
                    }|
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    |
                    @Html.ActionLink("Discard", "Discard", new { id = item.id })
                    |
                    @Html.ActionLink("View Transactions", "Add", new { id = item.BatchNo })
                </td>
            </tr>
        }

    </table>
    </div>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
    @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

