﻿@model BrokerOffice.Models.para_country

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Add Country Form</l>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table table-striped">
            <tr>
                <td>

                    @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "control-label col-md-4" })
                    <br />
                    @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })

                </td>
                <td>

                    @Html.LabelFor(model => model.fnam, htmlAttributes: new { @class = "control-label col-md-4" })
                    <br />
                    @Html.EditorFor(model => model.fnam, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.fnam, "", new { @class = "text-danger" })


                </td>
                <td>

                    @Html.LabelFor(model => model.Nationality, htmlAttributes: new { @class = "control-label col-md-4" })
                    <br />
                    @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })

                </td>
            </tr>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
