﻿@model BrokerOffice.Models.StockSecurities

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
            <div class="panel-heading" style="background-color:#428bca">
                <l style="color:white">Add Stock Securities Form</l>
            </div>
            <table class="table table-striped">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <tr>




                    <td >
                        @Html.LabelFor(model => model.StockISIN, htmlAttributes: new { @class = "control-label col-md-6" })
                        <br />
                        @Html.EditorFor(model => model.StockISIN, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                        @Html.ValidationMessageFor(model => model.StockISIN, "", new { @class = "text-danger" })



                    </td>
                    <td>
                    @Html.LabelFor(model => model.Issuer, htmlAttributes: new { @class = "control-label col-md-6" })
                        <br />
                    @Html.DropDownListFor(model => model.Issuer, (IEnumerable<SelectListItem>)ViewBag.Category, new { @class = "form-control", @style = "width:150px" })

                    @Html.ValidationMessageFor(model => model.Issuer, "", new { @class = "text-danger" })




                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.StockType, htmlAttributes: new { @class = "control-label col-md-6" })
                        <br />
                        @Html.DropDownListFor(model => model.StockType, (IEnumerable<SelectListItem>)ViewBag.StockType, new { @class = "form-control", @style = "width:150px" })

   @Html.ValidationMessageFor(model => model.StockType, "", new { @class = "text-danger" })


                    </td> 
                    <td>

                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-7" })
                        <br />
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })





                    </td>
                </tr>
                    
                          
              
                <tr>

       


                    <td>
                        @Html.LabelFor(model => model.stockQty, htmlAttributes: new { @class = "control-label col-md-7" })
                        <br />
                    @Html.EditorFor(model => model.stockQty, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.stockQty, "", new { @class = "text-danger" })
                </td>


                    <td>@Html.LabelFor(model => model.StockPrice, htmlAttributes: new { @class = "control-label col-md-6" })
                        <br />
                    @Html.EditorFor(model => model.StockPrice, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.StockPrice, "", new { @class = "text-danger" })
</td> 
                </tr>
           <tr>
               <td>@Html.LabelFor(model => model.CurrentPrice, htmlAttributes: new { @class = "control-label col-md-6" })
                   <br />
            @Html.EditorFor(model => model.CurrentPrice, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
            @Html.ValidationMessageFor(model => model.CurrentPrice, "", new { @class = "text-danger" })</td> 
           
                
               <td>@Html.LabelFor(model => model.IssuedPrice, htmlAttributes: new { @class = "control-label col-md-6" })
                   <br />
            @Html.EditorFor(model => model.IssuedPrice, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
            @Html.ValidationMessageFor(model => model.IssuedPrice, "", new { @class = "text-danger" })
</td> 
            
               
           </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>  
                        
                </tr>

          

            </table>

           
        </div> 
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
