﻿@model PagedList.IPagedList<BrokerOffice.DealClass.DealerDG2>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}
<script type="text/javascript">
    function onSubmitClick() {
        $('#myForm input[name="DXScript"]').remove();
        $('#myForm input[name="DXCss"]').remove();

    }
</script>




@using (Html.BeginForm("Index", "BrokersNotesAuth", FormMethod.Get, new { Id = "myForm", style = "margin: 0px; " }))
{
    <div style="background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Search</l>
        </div>
        <table class="table-striped">
            <tr>
                <td>

                    <div class="col-md-4">
                        Start Date : @Html.JQueryUI().Datepicker("Date1String").ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)  @ViewBag.dt1


                    </div>


                </td>
                <td>
                    <div class="col-md-4">
                        End Date : @Html.JQueryUI().Datepicker("Date2String").ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)  @ViewBag.dt2
                    </div>
                </td>
                <td>
                    <div class="col-md-4">

                        <input type="submit" class="btn btn-warning" value="Search" onclick="onSubmitClick();" />
                    </div>
                </td>
            </tr>

        </table>

        <table class="table-striped">
            <tr>
                <td>

                    <div class="col-md-4">
                        Account/FullNames/Deal: @Html.TextBox("SearchString", ViewBag.CurrentFilter as
                                 string)

                    </div>


                </td>
                <td>
                    <div class="col-md-4">
                        <input type="submit" onclick="onSubmitClick();" class="btn btn-warning" value="Search" />
                    </div>
                </td>
                <td></td>
            </tr>

        </table>




    </div>




}




<div style="margin-left:0%;margin-right:10%;background:white" class="col-md-12">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Broker Notes Authorization</l>
    </div>
    <table class="table">
        <tr>
            <th>
                Deal Number
            </th>
            <th>
                Security
            </th>
            <th>
                @Html.ActionLink("Deal", "Index", new { sortOrder = ViewBag.DealSortParm, currentFilter = ViewBag.CurrentFilter })


            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                @Html.ActionLink("Account1", "Index", new { sortOrder = ViewBag.cdscSortParm, currentFilter = ViewBag.CurrentFilter })


            </th>
            <th>
                @Html.ActionLink("Account2", "Index", new { sortOrder = ViewBag.cdsc2SortParm, currentFilter = ViewBag.CurrentFilter })


            </th>
            <th>
                @Html.ActionLink("Date Posted", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })


            </th>
            <th>
                SettlementDate
            </th>

            <th>
                @Html.ActionLink("Account Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })


            </th>
            <th>
                @Html.ActionLink("Account Name 2", "Index", new { sortOrder = ViewBag.NameSortParm2, currentFilter = ViewBag.CurrentFilter })


            </th>
            <th>
                Exchange
            </th>
           
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OldDeal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Security)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePosted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SettlementDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AccountName1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName2)
                </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.Exchange)
                </td>
            
            </tr>
            <tr>
                @if(item.Status=="TOUPDATE"){
                <td>
                    @Html.ActionLink("Authorise Update", "Update", new { id = item.ID }) |
                </td>
                }
                @if (item.Status == "TOUPDATE"|| item.Status == "TOPRINT" || item.Status == "TOPRINTU")
                {
                    <td>
                        @Html.ActionLink("Discard Changes", "Discard", new { id = item.ID }) |
                    </td>
                }
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |

                </td>
@if (item.Status == "DELETE")
{
                <td>
                    @Html.ActionLink("Authorise Termination", "Delete", new { id = item.ID })


                </td>
}
@if (item.Status =="TOPRINT")
{
    <td>
        @Html.ActionLink("Authorise Print", "Print", new { id = item.ID })


    </td>
}@if (item.Status == "TOPRINTU")
{
    <td>
        @Html.ActionLink("Authorise not Print", "UnPrint", new { id = item.ID })


    </td>
}
            </tr>
        }

    </table>
    </div>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))