﻿@model BrokerOffice.DealClass.DealerDG2
@using BrokerOffice.DAO
@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}


<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Mark as Printed</l>
    </div>

    <h3>Are you sure you want to mark this note as printed?</h3>
    <div>
        <table class="table table-striped">


            <hr />
            <tr>
                <td>
                    <h3>Updated Note</h3>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Security)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Security)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Deal)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Deal)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Quantity)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Price)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Account1)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Account1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Account2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Account2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DatePosted)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DatePosted)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SettlementDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SettlementDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Ack)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Ack)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AccountName1)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AccountName1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AccountName2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AccountName2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SecurityName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SecurityName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Exchange)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Exchange)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Printed)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Printed)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Status)
                        </dd>

                    </dl>
                </td>
                <td>
                    @{
                        SBoardContext dbb = new SBoardContext();
                        var z = dbb.DealerDGs.ToList().Where(a => a.Deal == Model.OldDeal);
                    }
                    @foreach (var c in z)
            {   <h3>Original Note</h3>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Security)
                            </dt>

                            <dd>
                                @c.Security
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Deal)
                            </dt>

                            <dd>
                                @c.Deal
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </dt>

                            <dd>
                                @c.Quantity
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Price)
                            </dt>

                            <dd>
                                @c.Price
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Account1)
                            </dt>

                            <dd>
                                @c.Account1
                            </dd>

                            <dt>
                                @c.Account2
                            </dt>

                            <dd>
                                @c.Account2
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DatePosted)
                            </dt>

                            <dd>
                                @c.DatePosted
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.SettlementDate)
                            </dt>

                            <dd>
                                @c.SettlementDate
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Ack)
                            </dt>

                            <dd>
                                @c.Ack
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AccountName1)
                            </dt>

                            <dd>
                                @c.AccountName1
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AccountName2)
                            </dt>

                            <dd>
                                @c.AccountName2
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.SecurityName)
                            </dt>

                            <dd>
                                @c.SecurityName
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Exchange)
                            </dt>

                            <dd>
                                @c.Exchange
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Printed)
                            </dt>

                            <dd>
                                @c.Printed
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>

                            <dd>
                                @c.Status
                            </dd>

                        </dl>
                    }
                </td>
            </tr>
        </table>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Print" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    </div>