﻿@model BrokerOffice.Models.PostingD

@using PagedList.Mvc;
@using WebMatrix.WebData
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin2"))
    {
        Layout = "~/Views/Shared/_BrokerAdmin2Layout.cshtml";
    }
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Journal Audit Report</l>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-md-10">
                    @Html.JQueryUI().DatepickerFor(model => model.From).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
                    @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-md-10">
                    @Html.JQueryUI().DatepickerFor(model => model.To).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
                    @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(model => model.DT, htmlAttributes: new { @class = "" })
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DT, (IEnumerable<SelectListItem>)ViewBag.DT,"Select Journal Type", new { id = "DT", @class = "form-control", @style = "border:solid;border-width:thin" })
 @Html.ValidationMessageFor(model => model.DT, "", new { @class = "text-danger" })
            </div>
    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="View" class="btn btn-primary" />
                        </div>
                    </div>



        </form>
                        </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

