﻿@model BrokerOffice.Models.Account_Creation

@if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin2"))
    {
        Layout = "~/Views/Shared/_BrokerAdmin2Layout.cshtml";
    }
    else if (User.IsInRole("General"))
    {
        Layout = "~/Views/Shared/_GeneralLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }


<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Details</l>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="display:none">
            @if (Model.accountcategory == "LE")
            {
                <h5>Individual Account</h5>
            }
            else if (Model.accountcategory == "LI")
            {
                <h5>Corporate Account</h5>
            }
            else if (Model.accountcategory == "LJ")
            {
                <h5>Joint Account</h5>
            }
        <dt style="display:none">
            @Html.DisplayNameFor(model => model.RecordType)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.RecordType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientSuffix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientSuffix)
        </dd>

        <dt style="display:none">
            @Html.DisplayNameFor(model => model.JointAcc)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.JointAcc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identification)
        </dd>

        @if (Model.accountcategory == "LE")
        {
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
        }
        else
        {
            <dt style="display:none">
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd style="display:none">
                @Html.DisplayFor(model => model.Title)
            </dd>
        }

        <dt style="display:none">
            @Html.DisplayNameFor(model => model.Initials)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.Initials)
        </dd>

        @if (Model.accountcategory == "LE")
        {
            <dt>
                @Html.DisplayNameFor(model => model.OtherNames)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OtherNames)
            </dd>
        }
        else
        {
            <dt style="display:none">
                @Html.DisplayNameFor(model => model.OtherNames)
            </dt>

            <dd style="display:none">
                @Html.DisplayFor(model => model.OtherNames)
            </dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.Surname_CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname_CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>

        <dt style="display:none">
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.PostCode)
        </dd>



        <dt style="display:none">
            @Html.DisplayNameFor(model => model.FaxNumber)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.FaxNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emailaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emailaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofBirth_Incorporation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofBirth_Incorporation)
        </dd>

        @if (Model.accountcategory == "LE")
        {
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
        }
        else
        {
            <dt style="display:none">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd style="display:none">
                @Html.DisplayFor(model => model.Gender)
            </dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxBracket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxBracket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bankname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Accountnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accountnumber)
        </dd>





        <dt style="display:none">
            @Html.DisplayNameFor(model => model.ClientType)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.ClientType)
        </dd>






        <dt>
            @Html.DisplayNameFor(model => model.CDSC_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CDSC_Number)
        </dd>

        <dt style="display:none">
            @Html.DisplayNameFor(model => model.Notification_Sent)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.Notification_Sent)
        </dd>

        <dt style="display:none">
            @Html.DisplayNameFor(model => model.Callback_Endpoint)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.Callback_Endpoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MNO_)
        </dt>


        @if (Model.MNO_ == "GLOBAL")
        {
            <dd>
                NEW
            </dd>

        }
        else
        {
            <dd>
                EXISTING
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Date_Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Created)
        </dd>

        <dt style="display:none">
            @Html.DisplayNameFor(model => model.File_Sent_DirectDebt)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.File_Sent_DirectDebt)
        </dd>

        <dt style="display:none">
            @Html.DisplayNameFor(model => model.File_Sent_AccountCr)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.File_Sent_AccountCr)
        </dd>

        <dt style="display:none">
            @Html.DisplayNameFor(model => model.PIN_No)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.PIN_No)
        </dd>

        @if (Model.accountcategory == "LE")
        {
            <dt>
                @Html.DisplayNameFor(model => model.Middlename)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Middlename)
            </dd>
        }
        else
        {
            <dt style="display:none">
                @Html.DisplayNameFor(model => model.Middlename)
            </dt>

            <dd style="display:none">
                @Html.DisplayFor(model => model.Middlename)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.RNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt style="display:none">
            @Html.DisplayNameFor(model => model.idtype2)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.idtype2)
        </dd>
        <dt style="display:none">
            @Html.DisplayNameFor(model => model.dividnumber)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.dividnumber)
        </dd>
        <dt style="display:none">
            @Html.DisplayNameFor(model => model.divbank)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.divbank)
        </dd>
        <dt style="display:none">
            @Html.DisplayNameFor(model => model.divbranch)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.divbranch)
        </dd>
        <dt style="display:none">
            @Html.DisplayNameFor(model => model.divaccounttype)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.divaccounttype)
        </dd>
        <dt style="display:none">
            @Html.DisplayNameFor(model => model.divacc)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.divacc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobilewalletnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobilewalletnumber)
        </dd>


    </dl>
</div>
<p>
    <a href="~/AccountCreation/AccountCreation.aspx?id=" @Model.ID_>
        <i class="glyphicon glyphicon-pencil"></i>

    </a>|
    @Html.ActionLink("Back to List", "Index")
</p>
