﻿@model BrokerOffice.Models.div_types

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Dtails</l>
    </div>
    <div>
        <h4>div_types</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DivType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DivType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiviTypeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiviTypeName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.div_typesID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>