﻿@model BrokerOffice.Models.BrokerLimit

@{
    ViewBag.Title = "Delete";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}




<div style="margin-left:5%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Delete Brokers Limit</l>
    </div>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>BrokerLimit</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BuyLimit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BuyLimit)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SellLimit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SellLimit)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.reaction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.reaction)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    </div>