﻿@model BrokerOffice.Models.BrokerLimit

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}

<div style="margin-left:5%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">BrokerLimit Details</l>
    </div>

    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BuyLimit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BuyLimit)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SellLimit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SellLimit)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.reaction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.reaction)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BrokerLimitID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>