﻿@model IEnumerable<BrokerOffice.Models.BrokerLimit>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}



<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
</p>

<div style="margin-left:5%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Brokers Limit</l>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuyLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reaction)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reaction)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BrokerLimitID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BrokerLimitID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BrokerLimitID })
                </td>
            </tr>
        }

    </table>
    </div>