﻿@model BrokerOffice.Models.GL_Group
@using PagedList.Mvc;
@using WebMatrix.WebData
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}






@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Edit GL Group</l>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.GL_GroupID)
        <table class="table table-striped">
            <tr>
                <td>
                   
                        @Html.LabelFor(model => model.GroupName, htmlAttributes: new { @class = "" })
                        <br />
                            @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                            @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
                      

                </td>
                <td>
                 
                        @Html.LabelFor(model => model.StartingAccount, htmlAttributes: new { @class = "" })
                    <br />
                            @Html.EditorFor(model => model.StartingAccount, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                            @Html.ValidationMessageFor(model => model.StartingAccount, "", new { @class = "text-danger" })
                     
                </td>
                <td>
                 
    @Html.LabelFor(model => model.EndingAccount, htmlAttributes: new { @class = "" })
                    <br />
        @Html.EditorFor(model => model.EndingAccount, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
        @Html.ValidationMessageFor(model => model.EndingAccount, "", new { @class = "text-danger" })
   

                </td>
            </tr>
        </table>
    
    

      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
