﻿@model PagedList.IPagedList<BrokerOffice.Models.GL_Group>
@using PagedList.Mvc;
@using WebMatrix.WebData
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}






<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
</p>

<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">GL Groups</l>
    </div>
    <table class="table">
        <tr>
            <th>GroupID</th>
            <th>
            
                @Html.ActionLink("GroupName", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
         
                @Html.ActionLink("Starting account", "Index", new { sortOrder = ViewBag.StartingSortParm })
            </th>
            <th>
        
                @Html.ActionLink("Ending Account", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GL_GroupID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartingAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndingAccount)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.GL_GroupID })">
                        <i class="glyphicon glyphicon-pencil"></i>

                    </a>
                    |
                    <a href="@Url.Action("Details", new { id =item.GL_GroupID})">
                        <i class="glyphicon glyphicon-file"></i>

                    </a>
                    |
                    <a href="@Url.Action("Delete", new { id = item.GL_GroupID})">
                        <i class="glyphicon glyphicon-trash"></i>

                    </a>
                </td>
                
            </tr>
        }

    </table>
    </div>
  Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))
