﻿@model BrokerOffice.Models.Batch

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Delete</h2>

<l>Are you sure you want to delete this?</l>
<div>
    <h4>Batch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Batchref)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batchref)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tempstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempstatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPOID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPOID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
